EscriturasWS/Escrituras.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.presentacion.opti" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://domain.presentacion.opti/xsd" xmlns:ax21="http://exceptions.core.atlas/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.presentacion.opti">
<wsdl:documentation>PresentacionService</wsdl:documentation>
<wsdl:types>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.atlas/xsd">
<xs:complexType name="ServiceException">
<xs:sequence>
<xs:element minOccurs="0" name="keyExcepcion" nillable="true" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="parametrosExcepcion" nillable="true" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:ax24="http://domain.presentacion.opti/xsd" xmlns:ax22="http://exceptions.core.atlas/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.presentacion.opti">
<xs:import namespace="http://exceptions.core.atlas/xsd"/>
<xs:import namespace="http://domain.presentacion.opti/xsd"/>
<xs:element name="PresentacionServiceServiceException">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ServiceException" nillable="true" type="ax21:ServiceException"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="presentar">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="args0" nillable="true" type="ax23:Peticion"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="presentarResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" nillable="true" type="ax23:Respuesta"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.presentacion.opti/xsd">
<xs:complexType name="Peticion">
<xs:sequence>
<xs:element minOccurs="0" name="ccc" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="nifDelPagador" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="origen" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Respuesta">
<xs:sequence>
<xs:element minOccurs="0" name="cartaPago" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="codigoDelResultado" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="cso" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="diligencia" nillable="true" type="xs:base64Binary"/>
<xs:element minOccurs="0" name="expediente" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="fechaDePresentacion" nillable="true" type="xs:dateTime"/>
<xs:element minOccurs="0" name="justificante" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="nccm" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="presentarRequest">
<wsdl:part name="parameters" element="ns:presentar"/>
</wsdl:message>
<wsdl:message name="presentarResponse">
<wsdl:part name="parameters" element="ns:presentarResponse"/>
</wsdl:message>
<wsdl:message name="PresentacionServiceServiceException">
<wsdl:part name="parameters" element="ns:PresentacionServiceServiceException"/>
</wsdl:message>
<wsdl:portType name="PresentacionServicePortType">
<wsdl:operation name="presentar">
<wsdl:input message="ns:presentarRequest" wsaw:Action="urn:presentar"/>
<wsdl:output message="ns:presentarResponse" wsaw:Action="urn:presentarResponse"/>
<wsdl:fault message="ns:PresentacionServiceServiceException" name="PresentacionServiceServiceException" wsaw:Action="urn:presentarPresentacionServiceServiceException"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PresentacionServiceSoap11Binding" type="ns:PresentacionServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="presentar">
<soap:operation soapAction="urn:presentar" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="PresentacionServiceServiceException">
<soap:fault use="literal" name="PresentacionServiceServiceException"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="PresentacionServiceSoap12Binding" type="ns:PresentacionServicePortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="presentar">
<soap:operation soapAction="urn:presentar" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="PresentacionServiceServiceException">
<soap:fault use="literal" name="PresentacionServiceServiceException"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="PresentacionServiceHttpBinding" type="ns:PresentacionServicePortType">
<http:binding verb="POST"/>
<wsdl:operation name="presentar">
<http:operation location="presentar"/>
<wsdl:input>
<mime:content type="application/xml" part="parameters"/>
</wsdl:input>
<wsdl:output>
<mime:content type="application/xml" part="parameters"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PresentacionService">
<wsdl:port name="PresentacionServiceHttpSoap11Endpoint" binding="ns:PresentacionServiceSoap11Binding">
<soap:address location="http://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="PresentacionServiceHttpsSoap11Endpoint" binding="ns:PresentacionServiceSoap11Binding">
<soap:address location="https://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpsSoap11Endpoint/"/>
</wsdl:port>
<wsdl:port name="PresentacionServiceHttpSoap12Endpoint" binding="ns:PresentacionServiceSoap12Binding">
<soap:address location="http://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="PresentacionServiceHttpsSoap12Endpoint" binding="ns:PresentacionServiceSoap12Binding">
<soap:address location="https://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpsSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="PresentacionServiceHttpEndpoint" binding="ns:PresentacionServiceHttpBinding">
<http:address location="http://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpEndpoint/"/>
</wsdl:port>
<wsdl:port name="PresentacionServiceHttpsEndpoint" binding="ns:PresentacionServiceHttpBinding">
<http:address location="https://deswebservices.madrid.org/opti_ws_presentacion/services/PresentacionService.PresentacionServiceHttpsEndpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>