oegam2_comun/src/org/gestoresmadrid/oegam2comun/registradores/importExport/tipos.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:complexType name="Solicitante_CancelacionType">
		<xs:sequence>
			<xs:element name="Codigo_Identificacion_Fiscal" type="xs:string" minOccurs="0"/>
			<xs:element name="Razon_Social" type="xs:string" minOccurs="0"/>
			<xs:element name="Domicilio_Social" type="Domicilio_Social_CancelacionType" minOccurs="0" />
			<xs:element name="Correo_Electronico" type="Correo_ElectronicoType" minOccurs="0" />
			<xs:element name="Representante" type="RepresentanteType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicilio_Social_CancelacionType">
		<xs:sequence>
			<xs:element name="Domicilio" type="xs:string" minOccurs="0"/>
			<xs:element name="Codigo_Postal" type="xs:string" minOccurs="0"/>
			<xs:element name="Municipio" type="xs:string" minOccurs="0"/>
			<xs:element name="Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentanteType">
		<xs:sequence>
			<xs:element name="Codigo_Identificacion_Fiscal" type="xs:string" minOccurs="0"/>
			<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="Primer_Apellido" type="xs:string" minOccurs="0"/>
			<xs:element name="Segundo_Apellido" type="xs:string" minOccurs="0"/>
			<xs:element name="Datos_Poder" type="Datos_PoderType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_PoderType">
		<xs:sequence>
			<xs:element name="Datos_Notario" type="Datos_NotarioType" minOccurs="0"/>
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_MercantilType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_NotarioType">
		<xs:sequence>
			<xs:element name="Notario" type="xs:string" minOccurs="0"/>
			<xs:element name="Plaza" type="xs:string" minOccurs="0"/>
			<xs:element name="Fecha_Otorgamiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Numero_Protocolo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Registrales_MercantilType">
		<xs:sequence>
			<xs:element name="Codigo_R_Mercantil" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="Tipificacion_RegistroType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tomo_R_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Folio_R_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Inscripcion_R_Mercantil" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Bien_CancelacionType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="Clase" type="xs:string" minOccurs="0" />
				<xs:element name="Marca" type="xs:string" minOccurs="0" />
				<xs:element name="Modelo" type="xs:string" minOccurs="0" />
				<xs:element name="Matricula" type="xs:string" minOccurs="0" />
				<xs:element name="Bastidor" type="xs:string" minOccurs="0" />
				<xs:element name="Numero_Fabricacion" type="xs:string"
					minOccurs="0" />
			</xs:sequence>
			<xs:element name="Maquinaria" type="MaquinariaType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Establecimiento" type="EstablecimientoMercantilType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Buque" type="BuqueType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Aeronave" type="AeronaveType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Propiedad_Industrial" type="Propiedad_IndustrialType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Propiedad_Intelectual" type="Propiedad_IntelectualType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Otros_Bienes" type="Otros_BienesType" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato_InscritoType">
		<xs:sequence>
			<xs:element name="Entidad_Titular_Suscriptora" type="Entidad_Titular_SuscriptoraType" minOccurs="0"/>
			<xs:element name="Entidad_Sucesora" type="Entidad_SucesoraType" minOccurs="0" />
			<xs:element name="Numero_Impreso" type="xs:string" minOccurs="0" />
			<xs:element name="Datos_Inscripcion" type="Datos_InscripcionType" minOccurs="0" />
			<xs:element name="Comprador_Arrendatario" type="Comprador_ArrendatarioType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entidad_Titular_SuscriptoraType">
		<xs:sequence>
			<xs:element name="Codigo_Identificacion_Fiscal" type="xs:string" minOccurs="0"/>
			<xs:element name="Razon_Social" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entidad_SucesoraType">
		<xs:sequence>
			<xs:element name="Codigo_Identificacion_Fiscal" type="xs:string" minOccurs="0"/>
			<xs:element name="Razon_Social" type="xs:string" minOccurs="0"/>
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_MercantilType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Firma_SolicitanteType">
		<xs:sequence>
			<xs:element name="Lugar_Firma" type="xs:string" minOccurs="0"/>
			<xs:element name="Fecha_Firma" type="FechaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_InscripcionType">
		<xs:sequence>
			<xs:element name="Codigo_RBM" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Numero_Registral_Bien" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="NumericoType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Numero_Inscripcion_Bien" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Inscripcion" type="FechaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato3Type">
		<xs:sequence>
			<xs:element name="Contrato_Marco" type="Identificacion_Contrato_MarcoType" minOccurs="0"/>
			<xs:element name="Nombre_Documento" type="xs:string" minOccurs="0"/>
			<xs:element name="Aprobado_DGRN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato2Type">
		<xs:sequence>
			<xs:element name="Contrato_Marco" type="Identificacion_Contrato_MarcoType" minOccurs="0"/>
			<xs:element name="Contrato_Individual" type="Identificacion_Contrato_IndividualType" minOccurs="0"/>
			<xs:element name="Nombre_Documento" type="xs:string" minOccurs="0"/>
			<xs:element name="Aprobado_DGRN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_ContratoType">
		<xs:sequence>
			<xs:element name="Numero_Operacion" type="xs:string" minOccurs="0"/>
			<xs:element name="Nombre_Asociacion" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero_Ejemplar" type="xs:string" minOccurs="0"/>
			<xs:element name="Modelo_Contrato" type="xs:string" minOccurs="0"/>
			<xs:element name="Nombre_Documento" type="xs:string" minOccurs="0"/>
			<xs:element name="Aprobado_DGRN" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero_Impreso" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato_PrevioType">
		<xs:sequence>
			<xs:element name="Numero_Operacion" type="xs:string" minOccurs="0"/>
			<xs:element name="Tipo_Contrato"  minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A1" />
						<xs:enumeration value="A2" />
						<xs:enumeration value="B1" />
						<xs:enumeration value="B2" />
						<xs:enumeration value="C1" />
						<xs:enumeration value="C2" />
						<xs:enumeration value="L1" />
						<xs:enumeration value="L2" />
						<xs:enumeration value="R1" />
						<xs:enumeration value="R2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Iden_SujetoType">
		<xs:sequence>
			<xs:element name="Tipo_Persona" type="Tipificacion_Tipo_PersonaType" minOccurs="0"/>
			<xs:element name="Nif_Cif" type="xs:string" minOccurs="0"/>
			<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="Apellido1_Razon_Social" type="xs:string" minOccurs="0" />
			<xs:element name="Apellido2" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicilio_INEType">
		<xs:sequence>
			<xs:element name="Pais" type="Tipificacion_PaisType" minOccurs="0"/>
			<xs:element name="Estado_Region_Provincia_Extranjera" type="xs:string" minOccurs="0"/>
			<xs:element name="Cod_Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Cod_Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Entidad_Local_Menor" type="xs:string" minOccurs="0"/>
			<xs:element name="Cod_Tipo_Via" type="Tipificacion_Tipo_ViaType" minOccurs="0"/>
			<xs:element name="Nombre_Via" type="xs:string" minOccurs="0"/>
			<xs:element name="Punto_Kilometrico" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero" type="NumericoType" minOccurs="0"/>
			<xs:element name="Numero_Bis" type="xs:string" minOccurs="0"/>
			<xs:element name="Portal" type="xs:string" minOccurs="0"/>
			<xs:element name="Bloque" type="xs:string" minOccurs="0"/>
			<xs:element name="Escalera" type="xs:string" minOccurs="0"/>
			<xs:element name="Planta" type="xs:string" minOccurs="0"/>
			<xs:element name="Puerta" type="xs:string" minOccurs="0"/>
			<xs:element name="Codigo_Postal" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Des_Bien_MuebleType">
		<xs:sequence>
			<xs:element name="Categoria" type="Tipificacion_Categoria_BienType" minOccurs="0"/>
			<xs:element name="Datos_Categoria" type="Datos_CategoriaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_CategoriaType">
		<xs:choice>
			<xs:element name="Vehiculo" type="VehiculoType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Maquinaria" type="MaquinariaType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Establecimiento" type="EstablecimientoMercantilType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Buque" type="BuqueType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Aeronave" type="AeronaveType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Propiedad_Industrial" type="Propiedad_IndustrialType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Propiedad_Intelectual" type="Propiedad_IntelectualType" maxOccurs="unbounded" />
			<xs:element name="Otros_Bienes" type="Otros_BienesType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Condicion_General" type="Condicion_GeneralType" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="VehiculoType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Grupo" type="Tipificacion_Grupo_BienType" minOccurs="0" />
			<xs:element name="Matricula" type="xs:string" minOccurs="0"/>
			<xs:element name="Bastidor" type="xs:string" minOccurs="0"/>
			<xs:element name="NIVE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Vehiculo2Type">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Bastidor" type="xs:string" minOccurs="0"/>
			<xs:element name="NIVE" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaquinariaType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Grupo" type="Tipificacion_Grupo_BienType" minOccurs="0" />
			<xs:element name="Num_Serie" type="xs:string" minOccurs="0"/>
			<xs:element name="Ubicacion" type="UbicacionType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UbicacionType">
		<xs:sequence>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
			<xs:element name="Datos_Registrales" type="Datos_Registrales_PropiedadType" minOccurs="0" />
			<xs:element name="Referencia_Catastral" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Registrales_PropiedadType">
		<xs:sequence>
			<xs:element name="Cod_Registro_Propiedad" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Cod_Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Cod_Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Seccion_Propiedad" type="xs:string" minOccurs="0"/>
			<xs:element name="Num_Finca" type="NumericoType" minOccurs="0"/>
			<xs:element name="Num_Finca_Bis" type="xs:string" minOccurs="0"/>
			<xs:element name="Num_Sub_Finca" type="xs:string" minOccurs="0"/>
			<xs:element name="IDUFIR" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistroType">
		<xs:sequence>
			<xs:element name="Cod_Registro" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Cod_Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstablecimientoMercantilType">
		<xs:sequence>
			<xs:element name="Nombre_Establecimiento" type="xs:string" minOccurs="0"/>
			<xs:element name="Clase_Establecimiento" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero_Establecimiento" type="xs:string" minOccurs="0"/>
			<xs:element name="Ubicacion" type="UbicacionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuqueType">
		<xs:sequence>
			<xs:element name="Nombre_Buque" type="xs:string" minOccurs="0"/>
			<xs:element name="Matricula_Buque" type="Matricula_BuqueType" minOccurs="0"/>
			<xs:element name="NIB" type="xs:string" minOccurs="0" />
			<xs:element name="Pabellon" type="xs:string" minOccurs="0" />
			<xs:element name="OMI" type="xs:string" minOccurs="0" />
			<xs:element name="Clasificacion_Buque" type="Clasificacion_BuqueType" minOccurs="0" />
			<xs:element name="Dimensiones" type="DimensionesType" minOccurs="0" />
			<xs:element name="Tonelaje" type="TonelajeType" minOccurs="0" />
			<xs:element name="Casco" type="CascoType" minOccurs="0" />
			<xs:element name="Motores" type="MotoresType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Estado" type="Tipificacion_Estado_BuqueType" minOccurs="0" />
			<xs:element name="Otros_Datos" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Clasificacion_BuqueType">
		<xs:sequence>
			<xs:element name="Tipo_Embarcacion" minOccurs="0" />
			<xs:element name="SubTipo_Embarcacion" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DimensionesType">
		<xs:sequence>
			<xs:element name="Eslora" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="LongitudType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Manga" type="LongitudType" minOccurs="0" />
			<xs:element name="Puntal" type="LongitudType" minOccurs="0" />
			<xs:element name="Calado_Maximo" type="LongitudType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TonelajeType">
		<xs:sequence>
			<xs:element name="Bruto" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="PesoType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Registrado_Bruto" type="PesoType" minOccurs="0" />
			<xs:element name="Neto" type="PesoType" minOccurs="0" />
			<xs:element name="Registrado_Neto" type="PesoType" minOccurs="0" />
			<xs:element name="Desplazamiento" type="PesoType" minOccurs="0" />
			<xs:element name="Peso_Muerto" type="PesoType" minOccurs="0" />
			<xs:element name="Carga_Maxima" type="PesoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CascoType">
		<xs:sequence>
			<xs:element name="Astillero" type="xs:string" minOccurs="0" />
			<xs:element name="Anio_Construccion" type="xs:string" minOccurs="0" />
			<xs:element name="Pais" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Num_Serie" type="xs:string" minOccurs="0" />
			<xs:element name="Material" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Matricula_BuqueType">
		<xs:choice>
			<xs:element name="Matricula_Maritima" type="Matricula_MaritimaType" minOccurs="0"/>
			<xs:element name="Matricula_Fluvial" type="xs:string" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Matricula_MaritimaType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Capitania_Maritima" type="Tipificacion_Capitania_MaritimaType" minOccurs="0"/>
				<xs:element name="Provincia_Maritima" type="xs:string" minOccurs="0"/>
			</xs:choice>
			<xs:element name="Distrito_Maritimo" type="xs:string" minOccurs="0" />
			<xs:element name="Num_Lista" type="Tipificacion_Lista_MaritimaType" minOccurs="0"/>
			<xs:element name="Folio_Inscripcion" type="NumericoType" minOccurs="0"/>
			<xs:element name="Anio_Inscripcion" type="NumericoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MotoresType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Num_Serie" type="xs:string" minOccurs="0" />
			<xs:element name="Anio_Construccion" type="NumericoType" minOccurs="0" />
			<xs:element name="Potencia_KW" type="PotenciaType" minOccurs="0" />
			<xs:element name="Potencia_CV" type="PotenciaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AeronaveType">
		<xs:sequence>
			<xs:element name="Matricula" type="xs:string" minOccurs="0"/>
			<xs:element name="Tipo" type="xs:string" minOccurs="0"/>
			<xs:element name="Marca" type="xs:string" minOccurs="0"/>
			<xs:element name="Modelo" type="xs:string" minOccurs="0"/>
			<xs:element name="Num_Serie" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Propiedad_IndustrialType">
		<xs:sequence>
			<xs:element name="Nombre_Marca" type="xs:string" minOccurs="0"/>
			<xs:element name="Tipo_Marca" type="xs:string" minOccurs="0"/>
			<xs:element name="Num_Reg_Adm" type="xs:string" minOccurs="0"/>
			<xs:element name="Clase_Marca" type="Tipificacion_Clase_Propiedad_IndustrialType" minOccurs="0"/>
			<xs:element name="Sub_Clase_Marca" type="Tipificacion_SubClase_Propiedad_IndustrialType" minOccurs="0"/>
			<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Propiedad_IntelectualType">
		<xs:sequence>
			<xs:element name="Num_Reg_Adm" type="xs:string" minOccurs="0"/>
			<xs:element name="Clase" type="Tipificacion_Clase_Propiedad_IntelectualType" minOccurs="0"/>
			<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Otros_BienesType">
		<xs:sequence>
			<xs:element name="Des_Otros_Bienes" type="Des_Otros_BienesType" minOccurs="0" />
			<xs:element name="Registro_Administrativo" type="Registro_AdministrativoType" minOccurs="0" />
			<xs:element name="Ubicacion" type="UbicacionType" minOccurs="0" />
			<xs:element name="Sociedad" type="SociedadType" minOccurs="0" />
			<xs:element name="Otra_Descripcion" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Des_Otros_BienesType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" minOccurs="0" />
			<xs:element name="Marca" type="xs:string" minOccurs="0" />
			<xs:element name="Modelo" type="xs:string" minOccurs="0" />
			<xs:element name="Num_Serie" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Registro_AdministrativoType">
		<xs:sequence>
			<xs:element name="Tipo_Reg_Adm" type="Tipificacion_Registro_AdministrativoType" minOccurs="0"/>
			<xs:element name="Num_Reg_Adm" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SociedadType">
		<xs:sequence>
			<xs:element name="Nombre_Sociedad" type="xs:string" minOccurs="0"/>
			<xs:element name="Cif_Sociedad" type="xs:string" minOccurs="0"/>
			<xs:element name="CNAE" type="Tipificacion_CNAEType" minOccurs="0" />
			<xs:element name="Ins_Reg_Mercantil" type="Ins_Reg_MercantilType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Ins_Reg_MercantilType">
		<xs:sequence>
			<xs:element name="Cod_Reg_Mercantil" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Seccion_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Num_Hoja" type="NumericoType" minOccurs="0"/>
			<xs:element name="Num_Hoja_Dup" type="NumericoType" minOccurs="0"/>
			<xs:element name="Num_Sub_Hoja" minOccurs="0"/>
			<xs:element name="Tomo_Sociedad" type="NumericoType" minOccurs="0"/>
			<xs:element name="Folio_Sociedad" type="NumericoType" minOccurs="0"/>
			<xs:element name="Ins_Sociedad" type="NumericoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Registrales_Mercantil2Type">
		<xs:sequence>
			<xs:element name="Codigo_R_Mercantil" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Tomo_R_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Libro_R_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Folio_R_Mercantil" type="NumericoType" minOccurs="0"/>
			<xs:element name="Hoja_R_Mercantil" type="xs:string" minOccurs="0"/>
			<xs:element name="Inscripcion_R_Mercantil" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Representante2Type">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
			<xs:element name="Cargo" type="xs:string" minOccurs="0"/>
			<xs:element name="Datos_Notario" type="Datos_Notario2Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Notario2Type">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Cod_Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Cod_Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Fecha_Otorgamiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Numero_Protocolo" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntervinienteType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0"/>
			<xs:element name="Correo_Electronico" type="Correo_ElectronicoType" minOccurs="0" />
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_Mercantil2Type" minOccurs="0" />
			<xs:element name="Representante" type="Representante2Type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Telefono" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Interviniente_FiadorType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
			<xs:element name="Correo_Electronico" type="Correo_ElectronicoType" minOccurs="0" />
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_Mercantil2Type" minOccurs="0" />
			<xs:element name="Representante" type="Representante2Type" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Telefono" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VendedorType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Objeto_FinanciadoType">
		<xs:sequence>
			<xs:element name="Des_Bien_Mueble" type="Des_Bien_MuebleType" minOccurs="0"/>
			<xs:element name="Valor" type="ValorType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValorType">
		<xs:all>
			<xs:element name="Valor_Contado" type="ImporteType" minOccurs="0"/>
			<xs:element name="Unidad_Cuenta" type="Tipificacion_Unidad_CuentaType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Datos_Financieros_FinanciacionType">
		<xs:sequence>
			<xs:element name="Unidad_Cuenta" type="Tipificacion_Unidad_CuentaType" minOccurs="0"/>
			<xs:element name="Importe_Precio_Compraventa" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Desembolso_Inicial" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Capital_Prestamo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total_Prestamo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Intereses" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="ImporteType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tipo_Deudor" type="PorcentajeType" minOccurs="0" />
			<xs:element name="Tipo_Interes_Nominal_Anual" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Intereses_Demora" type="PorcentajeType" minOccurs="0" />
			<xs:element name="Numero_Meses" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Ultimo_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Importe_Impuesto_Matriculacion" type="ImporteType" minOccurs="0" />
			<xs:element name="Importe_Cancelacion_RD_LD" type="ImporteType" minOccurs="0" />
			<xs:element name="Importe_Total_Adeudado" type="ImporteType" minOccurs="0" />
			<xs:element name="Importe_Derecho_Desistimiento" type="ImporteType" minOccurs="0" />
			<xs:element name="Comisiones" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comision" type="ComisionType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Otros_Importes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Otro_Importe" type="Otro_ImporteType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Variabilidad_Tipo_Interes" type="Variabilidad_Tipo_InteresType" minOccurs="0" />
			<xs:element name="Reconocimiento_Deuda" type="Reconocimiento_Deuda_FinanciacionType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Domicilio_Pago" type="Domicilio_Pago_FinanciacionType" minOccurs="0"/>
			<xs:element name="Cuadro_Amortizacion" type="Cuadro_Amortizacion_FinanciacionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Financieros_RentingType">
		<xs:sequence>
			<xs:element name="Unidad_Cuenta" type="Tipificacion_Unidad_CuentaType" minOccurs="0"/>
			<xs:element name="Importe_Total_Arrendamiento" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Opcion_Compra" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Entrega_Cuenta" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Fianza" type="ImporteType" minOccurs="0"/>
			<xs:element name="Numero_Meses" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Ultimo_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Comisiones" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comision" type="ComisionType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Otros_Importes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Otro_Importe" type="Otro_ImporteType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Variabilidad_Tipo_Interes" type="Variabilidad_Tipo_InteresType" minOccurs="0" />
			<xs:element name="Reconocimiento_Deuda" type="Reconocimiento_Deuda_LeasingType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Domicilio_Pago" type="Domicilio_Pago_LeasingType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Financieros_LeasingType">
		<xs:sequence>
			<xs:element name="Unidad_Cuenta" type="Tipificacion_Unidad_CuentaType" minOccurs="0"/>
			<xs:element name="Importe_Neto_Material" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total_Arrendamiento" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Opcion_Compra" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Entrega_Cuenta" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Fianza" type="ImporteType" minOccurs="0"/>
			<xs:element name="Tipo_Interes_Nominal_Anual" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Tasa_Anual_Equivalente" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Numero_Meses" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Ultimo_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Comisiones" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Comision" type="ComisionType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Otros_Importes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Otro_Importe" type="Otro_ImporteType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Variabilidad_Tipo_Interes" type="Variabilidad_Tipo_InteresType" minOccurs="0" />
			<xs:element name="Reconocimiento_Deuda" type="Reconocimiento_Deuda_LeasingType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Domicilio_Pago" type="Domicilio_Pago_LeasingType" minOccurs="0" />
			<xs:element name="Cuadro_Amortizacion" type="Cuadro_Amortizacion_LeasingType" minOccurs="0"/>
			<xs:element name="Financiacion_Impuesto_Anticipado" type="Financiacion_Impuesto_AnticipadoType" minOccurs="0" />
			<xs:element name="Financiacion_Seguro" type="Financiacion_SeguroType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reconocimiento_Deuda_FinanciacionType">
		<xs:sequence>
			<xs:element name="Importe_Reconocido" type="ImporteType" minOccurs="0"/>
			<xs:element name="Numero_Plazos" type="NumericoType" minOccurs="0"/>
			<xs:element name="Importe_Plazos" type="ImporteType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicilio_Pago_FinanciacionType">
		<xs:sequence>
			<xs:element name="Entidad_Pago" type="xs:string" minOccurs="0"/>
			<xs:element name="Domicilio_Entidad_Pago" type="xs:string" minOccurs="0"/>
			<xs:element name="Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Numero_Cuenta_Corriente" type="xs:string" minOccurs="0"/>
			<xs:element name="Porcentaje_TAE" type="PorcentajeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Domicilio_Pago_LeasingType">
		<xs:sequence>
			<xs:element name="Entidad_Pago" type="xs:string" minOccurs="0"/>
			<xs:element name="Domicilio_Entidad_Pago" type="xs:string" minOccurs="0"/>
			<xs:element name="Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Numero_Cuenta_Corriente" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComisionType">
		<xs:sequence>
			<xs:element name="Tipo_Comision" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="Tipificacion_Tipo_ComisionType" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Porcentaje" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Importe_Minimo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Maximo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Financiado" type="Tipificacion_Si_NoType" minOccurs="0" />
			<xs:element name="Condicion_Aplicacion" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Cuadro_Amortizacion_FinanciacionType">
		<xs:sequence>
			<xs:element name="Plazo" type="Plazo_FinanciacionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Plazo_FinanciacionType">
		<xs:sequence>
			<xs:element name="Fecha_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Importe_Plazo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Capital_Amortizado" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Intereses_Plazo" type="ImporteType" minOccurs="0"/>
			<xs:element name="Ints_Devengados_Incorp_Al_Capital" type="ImporteType" minOccurs="0" />
			<xs:element name="Importe_Capital_Pendiente" type="ImporteType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Condiciones_ParticularesType">
		<xs:sequence>
			<xs:element name="Pactos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pacto" type="PactoType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cesion" type="CesionType" minOccurs="0" />
			<xs:element name="Clausulas_Particulares" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Clausula" type="ClausulaType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Condiciones_Particulares2Type">
		<xs:sequence>
			<xs:element name="Clausula" type="ClausulaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PactoType">
		<xs:sequence>
			<xs:element name="Tipo_Pacto" type="Tipificacion_Tipo_PactoType" minOccurs="0"/>
			<xs:element name="Pactado_SN" type="Tipificacion_Si_NoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CesionType">
		<xs:sequence>
			<xs:element name="Cesion_A_Persona_NO_Determinada" type="Tipificacion_Si_NoType" minOccurs="0"/>
			<xs:element name="Tipo_Cesion_Tercero" type="Tipificacion_Cesion_TerceroType" minOccurs="0"/>
			<xs:element name="Cesionarios" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cesionario" type="CesionarioType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CesionarioType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_Mercantil2Type" minOccurs="0" />
			<xs:element name="Representante" type="Representante2Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contenido_PactadoType">
		<xs:sequence>
			<xs:element name="Epigrafe" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Titulo" type="xs:string" minOccurs="0"/>
						<xs:element name="Clausula" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Numero" type="xs:string" minOccurs="0" />
									<xs:element name="Titulo" type="xs:string" minOccurs="0" />
									<xs:element name="Contenido" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClausulaType">
		<xs:sequence>
			<xs:element name="Numero_Clausula" type="NumericoType" minOccurs="0"/>
			<xs:element name="Nombre_Clausula" type="xs:string" minOccurs="0"/>
			<xs:element name="Descripcion_Clausula" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Condiciones_GeneralesType">
		<xs:sequence>
			<xs:element name="Clausula" type="ClausulaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FirmaType">
		<xs:sequence>
			<xs:element name="Lugar_Firma" type="xs:string" minOccurs="0"/>
			<xs:element name="Fecha_Firma" type="FechaType" minOccurs="0"/>
			<xs:element name="Tipo_Intervencion" type="Tipificacion_Tipo_IntervencionType" minOccurs="0"/>
			<xs:element name="Derecho_Desistimiento" type="Tipificacion_Si_NoType" minOccurs="0" />
			<xs:element name="Consumidor" type="Tipificacion_Si_NoType" minOccurs="0" />
			<xs:element name="Informado" type="Tipificacion_Si_NoType" minOccurs="0" />
			<xs:element name="Tipo_Firma" type="Tipificacion_Tipo_FirmaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Firma2Type">
		<xs:sequence>
			<xs:element name="Lugar_Firma" type="xs:string" minOccurs="0"/>
			<xs:element name="Fecha_Firma" type="FechaType" minOccurs="0"/>
			<xs:element name="Tipo_Intervencion" type="Tipificacion_Tipo_IntervencionType" minOccurs="0"/>
			<xs:element name="Tipo_Firma" type="Tipificacion_Tipo_FirmaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comprador_ArrendatarioType">
		<xs:sequence>
			<xs:element name="Tipo_Persona" type="Tipificacion_Tipo_PersonaType" minOccurs="0"/>
			<xs:element name="Codigo_Identificacion_Fiscal" type="xs:string" minOccurs="0"/>
			<xs:element name="Nombre" type="xs:string" minOccurs="0" />
			<xs:element name="Primer_Apellido" type="xs:string" minOccurs="0" />
			<xs:element name="Segundo_Apellido" type="xs:string" minOccurs="0" />
			<xs:element name="Razon_Social" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Objeto_LeasingType">
		<xs:sequence>
			<xs:element name="Des_Bien_Mueble" type="Des_Bien_MuebleType" minOccurs="0"/>
			<xs:element name="Precio_Adquisicion" type="Precio_AdquisicionType" minOccurs="0"/>
			<xs:element name="Proveedor" type="ProveedorType" minOccurs="0"/>
			<xs:element name="Impuesto_Matriculacion" type="ImporteType" minOccurs="0" />
			<xs:element name="Lugar_Utilizacion" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Precio_AdquisicionType">
		<xs:sequence>
			<xs:element name="Unidad_Cuenta" type="Tipificacion_Unidad_CuentaType" minOccurs="0"/>
			<xs:element name="Importe_Base" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Impuesto" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total" type="ImporteType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProveedorType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reconocimiento_Deuda_LeasingType">
		<xs:sequence>
			<xs:element name="Importe_Reconocido" type="ImporteType" minOccurs="0"/>
			<xs:element name="Numero_Plazos" type="NumericoType" minOccurs="0"/>
			<xs:element name="Importe_Plazos" type="ImporteType" minOccurs="0"/>
			<xs:element name="Dia_Mes_Vencimiento" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Primer_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Tiempo_Entre_Pagos" type="NumericoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Cuadro_Amortizacion_LeasingType">
		<xs:sequence>
			<xs:element name="Plazo" type="Plazo_LeasingType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Plazo_LeasingType">
		<xs:sequence>
			<xs:element name="Fecha_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Importe_Recuperacion_Coste" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Recuperacion_Coste_Pendiente" type="ImporteType" minOccurs="0" />
			<xs:element name="Importe_Carga_Financiera" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Cuota_Neta" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Impuesto" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total_Cuota" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Distribucion_Entrega_Cuenta" type="ImporteType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Financiacion_Impuesto_AnticipadoType">
		<xs:sequence>
			<xs:element name="Importe_Impuesto" type="ImporteType" minOccurs="0"/>
			<xs:element name="Tipo_Interes_Nominal_Anual" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Tasa_Anual_Equivalente" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Cuadro_Amortizacion_FI" type="Cuadro_Amortizacion_FIType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Cuadro_Amortizacion_FIType">
		<xs:sequence>
			<xs:element name="Plazo_FI" type="Plazo_FIType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Plazo_FIType">
		<xs:sequence>
			<xs:element name="Fecha_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Importe_Amortizacion" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Capital_Pendiente" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Carga_Financiera" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total_Cuota" type="ImporteType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Cuadro_Amortizacion_FSType">
		<xs:sequence>
			<xs:element name="Plazo_FS" type="Plazo_FSType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Plazo_FSType">
		<xs:sequence>
			<xs:element name="Fecha_Vencimiento" type="FechaType" minOccurs="0"/>
			<xs:element name="Importe_Amortizacion" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Capital_Pendiente" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Carga_Financiera" type="ImporteType" minOccurs="0"/>
			<xs:element name="Importe_Total_Cuota" type="ImporteType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_DocumentoType">
		<xs:sequence>
			<xs:element name="Numero_Documento" type="xs:string" minOccurs="0"/>
			<xs:element name="Clase_Acto_Documento" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Tipo_EF" type="Tipificacion_Entidad_FinanciacionType" minOccurs="0" />
			<xs:element name="ID_Lote" type="NumericoType" minOccurs="0" />
			<xs:element name="ID_Documento" type="NumericoType" minOccurs="0" />
			<xs:element name="Tipo_Presentacion" type="NumericoType" minOccurs="0" />
			<xs:element name="Numero_Entrada" type="NumericoType" minOccurs="0" />
			<xs:element name="Identificacion_Registral" type="Identificacion_RegistralType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_RegistralType">
		<xs:sequence>
			<xs:element name="Codigo_RBM" type="Tipificacion_RegistroType" minOccurs="0"/>
			<xs:element name="Fecha_Entrada" type="FechaType" minOccurs="0" />
			<xs:element name="Numero_Entrada" type="NumericoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Operacion_RegistralType">
		<xs:sequence>
			<xs:element name="Tipo_Operacion_Registral" type="Tipificacion_Tipo_Operacion_RegistroType" minOccurs="0"/>
			<xs:element name="Presentacion" type="PresentacionType" minOccurs="0"/>
			<xs:element name="Inscripciones" type="InscripcionesType" minOccurs="0" />
			<xs:element name="Calificaciones_Con_Defecto" type="Calificaciones_Con_DefectoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentacionType">
		<xs:sequence>
			<xs:element name="Fecha_Presentacion" type="FechaType" minOccurs="0" />
			<xs:element name="Numero_Asiento" type="NumericoType" minOccurs="0"/>
			<xs:element name="Diario" type="NumericoType" minOccurs="0" />
			<xs:element name="Folio" type="NumericoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InscripcionesType">
		<xs:sequence>
			<xs:element name="Inscripcion" type="InscripcionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InscripcionType">
		<xs:sequence>
			<xs:element name="Des_Bien_Mueble" type="Des_Bien_MuebleType" minOccurs="0"/>
			<xs:element name="Numero_Bien" type="NumericoType" minOccurs="0"/>
			<xs:element name="Folio_Bien" type="NumericoType" minOccurs="0"/>
			<xs:element name="Fecha_Inscripcion" type="FechaType" minOccurs="0"/>
			<xs:element name="Avisos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Aviso" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Calificaciones_Con_DefectoType">
		<xs:sequence>
			<xs:element name="Calificacion_Documento_Con_Defecto" type="Calificacion_Documento_Con_DefectoType" minOccurs="0" />
			<xs:element name="Calificacion_Bien_Con_Defecto" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fecha_Calificacion" type="FechaType" minOccurs="0"/>
						<xs:element name="Des_Bien_Mueble" type="Des_Bien_MuebleType" minOccurs="0"/>
						<xs:element name="Defectos" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Defecto" type="DefectoType" minOccurs="0" maxOccurs="unbounded" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Calificacion_Documento_Con_DefectoType">
		<xs:sequence>
			<xs:element name="Fecha_Calificacion" type="FechaType" minOccurs="0"/>
			<xs:element name="Defectos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Defecto" type="DefectoType" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DefectoType">
		<xs:sequence>
			<xs:element name="Tipo_Defecto" type="Tipificacion_Tipo_DefectoType" minOccurs="0"/>
			<xs:element name="Descripcion_Defecto" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Financiacion_SeguroType">
		<xs:sequence>
			<xs:element name="Importe_Seguro" type="ImporteType" minOccurs="0"/>
			<xs:element name="Tipo_Interes_Nominal_Anual" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Tasa_Anual_Equivalente" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Cuadro_Amortizacion_FS" type="Cuadro_Amortizacion_FSType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SolicitanteType">
		<xs:sequence>
			<xs:element name="Iden_Sujeto" type="Iden_SujetoType" minOccurs="0"/>
			<xs:element name="Domicilio" type="Domicilio_INEType" minOccurs="0" />
			<xs:element name="Correo_Electronico" type="Correo_ElectronicoType" minOccurs="0" />
			<xs:element name="Datos_Registrales_Mercantil" type="Datos_Registrales_Mercantil2Type" minOccurs="0" />
			<xs:element name="Representante" type="Representante2Type" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Otro_ImporteType">
		<xs:sequence>
			<xs:element name="Tipo_Otro_Importe" type="Tipificacion_Tipo_Otro_ImporteType" minOccurs="0"/>
			<xs:element name="Importe" type="ImporteType" minOccurs="0"/>
			<xs:element name="Porcentaje" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Porcentaje" type="PorcentajeType" minOccurs="0" />
						<xs:element name="Base" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Observaciones" type="xs:string" minOccurs="0" />
			<xs:element name="Condicionante" type="Tipificacion_Si_NoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Variabilidad_Tipo_InteresType">
		<xs:sequence>
			<xs:element name="Fecha_Revision" type="FechaType" minOccurs="0"/>
			<xs:element name="Periodo_Revision" type="NumericoType" minOccurs="0"/>
			<xs:element name="Tipo_Interes_Referencia" type="Tipificacion_Tipo_Interes_ReferenciaType" minOccurs="0"/>
			<xs:element name="Diferencial_Fijo" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Tope_Maximo_Interes_Nominal" type="PorcentajeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Condicion_GeneralType">
		<xs:sequence>
			<xs:element name="Nombre_Predisponente" type="xs:string" minOccurs="0"/>
			<xs:element name="Nif_Cif_Predisponente" type="xs:string" minOccurs="0"/>
			<xs:element name="Denominacion_Identificativa" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PorcentajeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|(\d{1,3}(,\d{1,10}))|\d{1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PotenciaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|(\d{1,10}(,\d{3}))|\d{1,10}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PesoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|(\d{1,10}(,\d{3}))|\d{1,10}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LongitudType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|(\d{1,10}(,\d{2}))|\d{1,10}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FechaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}/\d{2}/\d{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Clausula_LOPDType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="ImporteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|(\d{1,10}(,\d{1,2}))|\d{1,10}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Correo_ElectronicoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|([^@]+@[^@]+\.[^@]+)" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,15}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_ProvinciaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_MunicipioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_RegistroType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,5}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_PersonaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_PaisType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Categoria_BienType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdufirType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{14}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Si_NoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|SI|NO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_S_NType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|S|N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_ActoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Unidad_CuentaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_ViaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,10}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Grupo_BienType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Lista_MaritimaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[L]{1}[0-9]{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Capitania_MaritimaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Estado_BuqueType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Clase_Propiedad_IndustrialType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_SubClase_Propiedad_IndustrialType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Clase_Propiedad_IntelectualType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Registro_AdministrativoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_CNAEType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Extension_DerechoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Clase_DerechoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Motivo_CancelacionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_IntervencionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Situacion_JuridicaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Causa_CancelacionType">
		<xs:annotation>
			<xs:documentation>Causa cancelacin.
					CD("Condonacin deuda"),
					CA("Ejercicio anticipado de opcin de compra por el arrendatario financiero"),
					CO("Ejercicio ordinario de opcin de compra por el arrendatario financiero"),
					PA("Pago anticipado"),
					PO("Pago ordinario"),
					RE("Renuncia"),
					EV("Entrega voluntaria del bien"),
					RC("Recuperacin del bien");
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CD" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="PO" />
			<xs:enumeration value="RE" />
			<xs:enumeration value="EV" />
			<xs:enumeration value="RC" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Cesion_TerceroType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{2,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_ComisionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Entidad_FinanciacionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_PactoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_Operacion_RegistroType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_DefectoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|[A-Z]{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_Otro_ImporteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_Interes_ReferenciaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tipificacion_Tipo_FirmaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="S?|\d{1,1}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Tipo_DeudorExtType">
		<xs:sequence>
			<xs:element name="Tipo" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Condiciones_Aplicacion" type="xs:string" minOccurs="0" />
			<xs:element name="Indices_Tipos_Referencia" type="xs:string" minOccurs="0" />
			<xs:element name="Periodos_Condiciones_Procedimientos_Variacion" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato_MarcoType">
		<xs:sequence>
			<xs:element name="Modelo_Contrato" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero_Contrato" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identificacion_Contrato_IndividualType">
		<xs:sequence>
			<xs:element name="Modelo_Contrato" type="xs:string" minOccurs="0"/>
			<xs:element name="Numero_Contrato" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="alfa50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoNIF">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[mMxXyYzZ]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}|.{0}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numCol">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5" />
			<xs:minInclusive value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoProvincia">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
			<xs:enumeration value="VI" />
			<xs:enumeration value="AB" />
			<xs:enumeration value="A" />
			<xs:enumeration value="AL" />
			<xs:enumeration value="AV" />
			<xs:enumeration value="BA" />
			<xs:enumeration value="PM" />
			<xs:enumeration value="B" />
			<xs:enumeration value="BU" />
			<xs:enumeration value="CC" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CS" />
			<xs:enumeration value="CR" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="C" />
			<xs:enumeration value="CU" />
			<xs:enumeration value="GE" />
			<xs:enumeration value="GR" />
			<xs:enumeration value="GU" />
			<xs:enumeration value="SS" />
			<xs:enumeration value="H" />
			<xs:enumeration value="HU" />
			<xs:enumeration value="J" />
			<xs:enumeration value="LE" />
			<xs:enumeration value="L" />
			<xs:enumeration value="LO" />
			<xs:enumeration value="LU" />
			<xs:enumeration value="M" />
			<xs:enumeration value="MA" />
			<xs:enumeration value="MU" />
			<xs:enumeration value="NA" />
			<xs:enumeration value="OR" />
			<xs:enumeration value="O" />
			<xs:enumeration value="P" />
			<xs:enumeration value="GC" />
			<xs:enumeration value="PO" />
			<xs:enumeration value="SA" />
			<xs:enumeration value="TF" />
			<xs:enumeration value="S" />
			<xs:enumeration value="SG" />
			<xs:enumeration value="SE" />
			<xs:enumeration value="SO" />
			<xs:enumeration value="T" />
			<xs:enumeration value="TE" />
			<xs:enumeration value="TO" />
			<xs:enumeration value="V" />
			<xs:enumeration value="VA" />
			<xs:enumeration value="BI" />
			<xs:enumeration value="ZA" />
			<xs:enumeration value="Z" />
			<xs:enumeration value="CE" />
			<xs:enumeration value="ML" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CertificantesType">
		<xs:sequence>
			<xs:element name="Certificante" type="CertificanteType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ModeloType">
		<xs:sequence>
			<xs:element name="Codigo"  minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descripcion" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SOCIEDADES ANNIMAS Y LIMITADAS. CESE Y NOMBRAMIENTO" />
						<xs:enumeration value="SOCIEDADES ANNIMAS Y LIMITADAS. ACEPTACIN DE NOMBRAMIENTO" />
						<xs:enumeration value="SOCIEDADES ANNIMAS. CESE Y NOMBRAMIENTO" />
						<xs:enumeration value="SOCIEDADES LIMITADAS. CESE Y NOMBRAMIENTO" />
						<xs:enumeration value="SOCIEDADES ANNIMAS Y LIMITADAS. CESE Y NOMBRAMIENTO Y DELEGACIN DE FACULTADES" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="CertificanteType">
		<xs:sequence>
			<xs:element name="Identificacion" type="Identificacion_SujetoType" minOccurs="0"/>
			<xs:element name="Cargo" type="CargoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CargoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADMINISTRADOR MANCOMUNADO" />
			<xs:enumeration value="ADMINISTRADOR SOLIDARIO" />
			<xs:enumeration value="ADMINISTRADOR UNICO" />
			<xs:enumeration value="AUDITOR CUENTAS" />
			<xs:enumeration value="CONSEJERO" />
			<xs:enumeration value="CONSEJERO DELEGADO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO DELEGADO MANCOMUNADO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO DELEGADO MANCOMUNADO Y SOLIDARIO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO DELEGADO SOLIDARIO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO DELEGADO SUPLENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO INDEPENDIENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="CONSEJERO SUPLENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="COPRESIDENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="PRESIDENTE DE LA JUNTA" />
			<xs:enumeration value="PRESIDENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="PRESIDENTE EJECUTIVO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="PRESIDENTE HONORIFICO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="PRESIDENTE SUPLENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="SECRETARIO DE LA JUNTA" />
			<xs:enumeration value="SECRETARIO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="SECRETARIO SUPLENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="TESORERO DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="VICEPRESIDENTE DEL CONSEJO DE ADMINISTRACION" />
			<xs:enumeration value="VICESECRETARIO DEL CONSEJO DE ADMINISTRACION" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Identificacion_SujetoType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
			<xs:element name="Apellido1_Razon_Social" type="xs:string" minOccurs="0" />
			<xs:element name="Apellido2" type="xs:string" minOccurs="0" />
			<xs:element name="Numero_Documento" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reunion_JuntaType">
		<xs:sequence>
			<xs:element name="LugaryFecha_Celebracion" type="LugaryFechaType" minOccurs="0"/>
			<xs:element name="Tipo" type="Tipo_JuntaType" minOccurs="0"/>
			<xs:element name="Caracter" type="Caracter_JuntaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NombramientoType">
		<xs:sequence>
			<xs:element name="Identificacion" type="Identificacion_SujetoType" minOccurs="0"/>
			<xs:element name="Cargo" type="CargoType" minOccurs="0"/>
			<xs:element name="Duracion_Cargo" type="Duracion_CargoType" minOccurs="0" />
			<xs:element name="Circustancias_Personales" type="xs:string" minOccurs="0" />
			<xs:element name="Facultades_Delegadas" type="xs:string" minOccurs="0" />
			<xs:element name="Aceptacion_Cargo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EN LA MISMA JUNTA" />
						<xs:enumeration value="CON POSTERIORIDAD" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NombramientosType">
		<xs:sequence>
			<xs:element name="Nombramiento" type="NombramientoType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcuerdosType">
		<xs:sequence>
			<xs:element name="Nombramientos" type="NombramientosType" minOccurs="0" />
			<xs:element name="Ceses" type="CesesType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acuerdos2Type">
		<xs:sequence>
			<xs:element name="Porcentaje_Capital_Acuerdo" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Porcentaje_Sociosl_Acuerdo" type="PorcentajeType" minOccurs="0" />
			<xs:element name="Nombramientos" type="NombramientosType" minOccurs="0"/>
			<xs:element name="Ceses" type="CesesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Duracion_CargoType">
		<xs:choice>
			<xs:element name="Indefinida" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Duracion" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="Meses" type="xs:integer" minOccurs="0"/>
							<xs:element name="Aos" type="xs:integer" minOccurs="0"/>
							<xs:element name="Periodo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Inicio" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{2}/\d{2}/\d{4}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Fin" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{2}/\d{2}/\d{4}" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="Ejercicios" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Ejercicio" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CeseType">
		<xs:sequence>
			<xs:element name="Identificacion" type="Identificacion_SujetoType" minOccurs="0"/>
			<xs:element name="Cargo" type="CargoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CesesType">
		<xs:sequence>
			<xs:element name="Cese" type="CeseType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsejoType">
		<xs:sequence>
			<xs:element name="Reunion_Consejo" type="Reunion_ConsejoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JuntaType">
		<xs:sequence>
			<xs:element name="Reunion_Junta" type="Reunion_JuntaType" minOccurs="0"/>
			<xs:element name="Convocatoria" type="ConvocatoriaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Junta2Type">
		<xs:sequence>
			<xs:element name="Reunion_Junta" type="Reunion_JuntaType" minOccurs="0"/>
			<xs:element name="Contenido_Convocatoria" type="xs:string" minOccurs="0"/>
			<xs:element name="Convocatoria" type="ConvocatoriaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aprobacion_ActaType">
		<xs:sequence>
			<xs:element name="Fecha" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{2}/\d{2}/\d{4}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Forma" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConvocatoriaType">
		<xs:sequence>
			<xs:element name="Medios" type="MediosType" minOccurs="0"/>
			<xs:element name="Numero_Convocatoria" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PRIMERA" />
						<xs:enumeration value="SEGUNDA" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Porcentaje_Capital_Asistente" type="PorcentajeType" minOccurs="0"/>
			<xs:element name="Porcentaje_Socios_Asistentes" type="PorcentajeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MediosType">
		<xs:choice>
			<xs:element name="Medio_Publicacion" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
						<xs:element name="Fecha" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{2}/\d{2}/\d{4}" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Otros_Medios" type="xs:string" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AsistentesType">
		<xs:sequence>
			<xs:element name="Asistente" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identificacion" type="Identificacion_SujetoType" minOccurs="0"/>
						<xs:element name="Cargo" type="CargoType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LugaryFechaType">
		<xs:sequence>
			<xs:element name="Lugar" type="xs:string" minOccurs="0"/>
			<xs:element name="Fecha" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{2}/\d{2}/\d{4}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Tipo_JuntaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="ORDINARIA" />
			<xs:enumeration value="EXTRAORDINARIA" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Caracter_JuntaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="UNIVERSAL" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Reunion_ConsejoType">
		<xs:sequence>
			<xs:element name="LugaryFecha_Celebracion" type="LugaryFechaType" minOccurs="0"/>
			<xs:element name="Asistentes" type="AsistentesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EscrituraType">
		<xs:sequence>
			<xs:element name="Inmatriculada" type="Tipificacion_S_NType" minOccurs="0"/>
			<xs:element name="Tipo_operacion" type="Tipo_operacion_Type" minOccurs="0"/>
			<xs:element name="Fecha_Escritura" type="FechaType" minOccurs="0"/>
			<xs:element name="Referencia_Propia" type="xs:string" minOccurs="0"/>
			<xs:element name="Tipo_Inscripcion" type="Tipo_Inscripcion_Type" minOccurs="0"/>
			<xs:element name="Tipo_Presentante" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo presentante.
						1=Gestor
						2=Gestoria
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Tipo_Inscripcion_Type">
		<xs:choice>
			<xs:element name="Primera_entrada" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Identificacion_Notarial">
				<xs:complexType>
					<xs:all>
						<xs:element name="Codigo_Notaria" type="xs:integer" minOccurs="0"/>
						<xs:element name="Codigo_Notario" type="xs:integer" minOccurs="0"/>
						<xs:element name="Anyo_Protocolo"  type="xs:integer" minOccurs="0"/>
						<xs:element name="Numero_Protocolo"  type="xs:integer" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identificacion_Numero_entrada">
				<xs:complexType>
					<xs:all>
						<xs:element name="Numero" type="xs:integer" minOccurs="0"/>
						<xs:element name="Anyo"  type="xs:integer" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	<xs:simpleType name="Tipo_operacion_Type">
		<xs:annotation>
			<xs:documentation>Tipo operacin.
				1=ACCESIN
				2=ADJUDICACIN EN PAGO DE DEUDA
				3=ADJUDICACIN EN PAGO DE ASUNCIN DE DEUDA
				4=ADJUDICACIN PARA PAGO
				5=ADJUDICACIN POR DISOLUCIN DE COMUNIDAD
				6=ADJUDICACIN POR LIQUIDACIN TOTAL
				7=ADJUDICACIN POR LIQUIDACIN DE SOCIEDAD CONYUGAL
				8=ADJUDICACIN JUDICIAL
				9=ADJUDICACIN ADMINISTRATIVA
				10=ADQUISICIN PREFERENTE (CONSTITUCIN DEL DERECHO DE ...)
				11=ADQUISICIN PREFERENTE (EJECUCIN DEL DERECHO DE...)
				12=AFECCIN FISCAL
				13=AFECCIN URBANSTICA
				14=AFECCIN DE OTRA CLASE
				15=AGRUPACIN
				16=AGREGACIN
				17=AGUAS
				18=ANOTACIN DE EMBARGO PREVENTIVO
				19=ANOTACIN DE EMBARGO EJECUTIVO
				20=ANOTACIN DE EMBARGO EN EJECUCIN
				21=ANOTACIN DE EMBARGO ADMINISTRATIVO
				22=ANOTACIN DE DEMANDA DE NULIDAD O CANCELACIN
				23=ANOTACIN DE DEMANDA DE PROPIEDAD O DERECHO REAL
				24=ANOTACIN DE DEMANDA DE INCAPACIDAD
				25=ANOTACIN DE SENTENCIA FIRME
				26=ANOTACIN DE PROHIBICIN DE DISPONER Y SECUESTRO
				27=ANOTACIN CNYUGE VIUDO
				28=ANOTACIN LEGATARIO
				29=ANOTACIN RESERVATORIOS
				30=ANOTACIN DE DERECHO HEREDITARIO
				31=ANOTACIN DE ADJUDICACIN EN PAGO
				32=ANOTACIN DE CRDITO REFACCIONARIO
				33=ANOTACIN POR DEFECTO SUBSANABLE
				34=ANOTACIN PREVENTIVA URBANSTICA
				35=ANOTACIN DE QUIEBRA
				36=ANOTACIN DE SUSPENSIN DE PAGOS
				37=ANOTACIN POR IMPOSIBILIDAD DEL REGISTRADOR
				38=ANOTACIN PREVENTIVA DE PRRROGA
				39=ANOTACIN PREVENTIVA DE OTRO TIPO
				40=ANTICRESIS
				41=APARCERA
				42=APORTACIN SOCIAL
				43=APORTACIN A SOCIEDAD CONYUGAL
				44=APROVECHAMIENTO COMUNAL
				45=APROVECHAMIENTO DE AGUAS
				46=ARRENDAMIENTO
				47=CENSO CONSIGNATIVO
				48=CENSO ENFITUTICO
				49=CENSO RESERVATIVO
				50=CESIN ONEROSA
				51=CESIN GRATUITA
				52=COMPENSACIN URBANSTICA
				53=COMPRAVENTA
				54=CONCENTRACIN PARCELARIA
				55=CONCESIN ADMINISTRATIVA
				56=CONDICIN RESOLUTORIA
				57=CONDICIN SUPRESIVA
				58=CONSOLIDACIN
				59=CONVENIO DE ACREEDORES
				60=COOPERACIN URBANSTICA
				61=CUMPLIMIENTO DE CONDICIN
				62=DERECHO EXPECTANTE DE VIUDEDAD
				63=DIVISIN MATERIAL
				64=DONACIN
				65=DOTE
				66=EXCESO DE CABIDA
				67=EXPROPIACIN
				68=FIDEICOMISO
				69=FIDUCIA
				70=HABITACIN
				71=HEREDAMIENTO
				72=HEREDERO DE CONFIANZA
				73=HERENCIA
				74=HIPOTECA
				75=INCAPACIDAD
				76=LEASING
				77=LEGADO
				78=LIMITACIN URBANSTICA
				79=LIMITACIN ART. 207 L. H.
				80=MEDIANERIA
				81=MENCIN LEGITIMARIA
				82=MINAS
				83=MULTIPROPIEDAD
				84=NOVACIN EXTINTIVA
				85=NOVACIN MODIFICATIVA
				86=NOVACIN DE HIPOTECA
				87=OBRA NUEVA EN CONSTRUCCIN
				88=OBRA NUEVA TERMINADA
				89=OPCIN (CONSTITUCIN)
				90=OPCIN (EJECUCIN)
				91=PACTO DE RESERVA DE DOMINIO
				92=PACTO DE RETRO
				93=PERMUTA
				94=PERMUTA DE RANGO
				95=POSPOSICIN
				96=PRESCRIPCIN ADQUISITIVA
				97=PROPIEDAD HORIZONTAL
				98=RECTIFICACIN
				99=RENTA VITALICIA
				100=REPARCELACIN
				101=RESERVA LINEAL
				102=RESERVA DE RANGO
				103=RETENCIN
				104=RETORNO
				105=RETRACTO (CONSTITUCIN)
				106=RETRACTO (EJECUCIN)
				107=REVERSIN
				108=REVOCACIN DE DONACIN
				109=SEGREGACIN
				110=SENTENCIA JUDICIAL
				111=SERVIDUMBRE
				112=SOBREEDIFICACIN O SUBEDIFICACIN SUPERFICIARIA
				113=SOBREEDIFICACIN O SUBEDIFICACIN NO SUPERFICIARIA
				114=SUBHIPOTECA
				115=SUBROGACIN DEL ACREEDOR HIPOTECARIO
				116=SUBROGACIN DEL DEUDOR HIPOTECARIO
				117=SUPERFICIE
				118=SUSTITUCIN FIDEICOMISARIA
				119=TANTEO
				120=TRASPASO
				121=USO
				122=VITALICIO
				123=OTROS
				1000=CARTA DE PAGO
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
			<xs:enumeration value="54"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
			<xs:enumeration value="57"/>
			<xs:enumeration value="58"/>
			<xs:enumeration value="59"/>
			<xs:enumeration value="60"/>
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="65"/>
			<xs:enumeration value="66"/>
			<xs:enumeration value="67"/>
			<xs:enumeration value="68"/>
			<xs:enumeration value="69"/>
			<xs:enumeration value="70"/>
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="73"/>
			<xs:enumeration value="74"/>
			<xs:enumeration value="75"/>
			<xs:enumeration value="76"/>
			<xs:enumeration value="77"/>
			<xs:enumeration value="78"/>
			<xs:enumeration value="79"/>
			<xs:enumeration value="80"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="83"/>
			<xs:enumeration value="84"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="86"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="88"/>
			<xs:enumeration value="89"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="94"/>
			<xs:enumeration value="95"/>
			<xs:enumeration value="96"/>
			<xs:enumeration value="97"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="102"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="106"/>
			<xs:enumeration value="107"/>
			<xs:enumeration value="108"/>
			<xs:enumeration value="109"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="111"/>
			<xs:enumeration value="112"/>
			<xs:enumeration value="113"/>
			<xs:enumeration value="114"/>
			<xs:enumeration value="115"/>
			<xs:enumeration value="116"/>
			<xs:enumeration value="117"/>
			<xs:enumeration value="118"/>
			<xs:enumeration value="119"/>
			<xs:enumeration value="120"/>
			<xs:enumeration value="121"/>
			<xs:enumeration value="122"/>
			<xs:enumeration value="123"/>
			<xs:enumeration value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Bienes_EscrituraType">
		<xs:sequence>
			<xs:element name="bien" type="Bien_EscrituraType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Bien_EscrituraType">
		<xs:all>
			<xs:element name="Codigo_Provincia" type="Tipificacion_ProvinciaType" minOccurs="0"/>
			<xs:element name="Codigo_Municipio" type="Tipificacion_MunicipioType" minOccurs="0"/>
			<xs:element name="Seccion_Registral"  type="xs:integer" minOccurs="0" />
			<xs:element name="Numero_Finca"  type="xs:integer" minOccurs="0" />
			<xs:element name="Subnumero_Finca"  type="xs:integer" minOccurs="0" />
			<xs:element name="Numero_Finca_Duplicado"  type="xs:integer" minOccurs="0" />
			<xs:element name="Idufir"  type="IdufirType" minOccurs="0" />
			<xs:element name="Descripcion"  type="xs:string" minOccurs="0" />
		</xs:all>
	</xs:complexType>

</xs:schema>
