oegam2/src/trafico/solicitud/schemas/Solicitud_Registro_Entrada_CTIT_viejo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Administrador (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
 	<xs:element name="Solicitud_Registro_Entrada">
		<xs:annotation>
			<xs:documentation>Solicitud de trámite firmada por el Remitente</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Datos_Firmados"/>
				<xs:element name="Firma" type="tipoFirma"/>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- Elementos predefinidos-->
	<xs:element name="Datos_Genericos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Organismo" type="tipoOrganismo"/>
				<xs:element name="Remitente" type="Datos_Remitente"/>
				<xs:element name="Interesados">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Interesado" type="Datos_Interesado"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Asunto" type="Asunto"/>
				<xs:element name="Destino" type="Destino"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Datos_Especificos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Datos_Colegio">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Id"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Datos_Gestoria">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Id"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Datos_Gestor">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Filiacion">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="70"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DOI" type="tipoDOI"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Numero_Expediente_Gestor" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Datos_Expediente">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tipo_Tramite">
								<xs:simpleType>
									<xs:restriction base="tipoTramite">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Motivo_Transmision">
								<xs:simpleType>
									<xs:restriction base="tipoMotivo">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Fecha_Tramite" type="tipoFechaAAAAMMDD"/>
							<xs:element name="Jefatura">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Sucursal">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Impresion_Permiso_Circulacion" type="tipoSINO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Tasas">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tasa_Tramite" type="tipoTasa"/>
							<xs:element name="Tasa_Informe" type="tipoTasa" minOccurs="0"/>
							<xs:element name="Tasa_Cambio_Servicio" type="tipoTasa" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Datos_Vehiculo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Datos_Matriculacion">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Matricula">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Fecha_Matriculacion" type="tipoFechaAAAAMMDD"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Datos_Servicio">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cambio_Servicio" type="tipoSINO"/>
										<xs:element name="Servicio" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Renting" type="tipoSINO"/>
							<xs:element name="Tipo_Vehiculo">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Codigo_ITV_Industria" type="xs:string" minOccurs="0" maxOccurs="0"/>
							<xs:element name="Datos_ITV" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Resultado_ITV" type="tipoResultadoITV"/>
										<xs:element name="Fecha_Realizacion" type="tipoFechaAAAAMMDD"/>
										<xs:element name="Fecha_Caducidad" type="tipoFechaAAAAMMDD"/>
										<xs:element name="Estacion">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Provincia">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Motivo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="256"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Domicilio" type="Domicilio" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Datos_Tutela" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tutela_Transmiente" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DOI_Tutor" type="tipoDOI"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tutela_Adquirente" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DOI_Tutor" type="tipoDOI"/>
										<xs:element name="Tipo_Tutela">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Titular_Transmitente" type="Datos_Transmitente"/>
				<xs:element name="Cotitulares_Transmitentes" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Transmitente" type="Datos_Transmitente" maxOccurs="2"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Titular_Adquirente" type="Datos_Adquirente" minOccurs="0"/>
				<xs:element name="Datos_Autonomo">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Autonomo"/>
							<xs:element ref="CodigoIAE" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Cotitulares_Adquirentes" minOccurs="0" maxOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Adquirente" type="Datos_Adquirente" maxOccurs="2"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Poseedor" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Datos_Poseedor" type="Datos_Personales"/>
							<xs:element ref="CodigoIAE"/>
							<xs:element name="Datos_Representante" type="Datos_Representante" minOccurs="0"/>
							<xs:element ref="Actualizacion_Domicilio"/>
							<xs:element name="Domicilio" type="Domicilio"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Arrendatario" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Datos_Arrendatario" type="Datos_Personales"/>
							<xs:element name="Domicilio" type="Domicilio"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Conductor_Habitual" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DOI" type="tipoDOI_Fisica"/>
							<xs:element name="Fecha_Nacimiento" type="tipoFechaAAAAMMDD"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Acreditacion_Derecho">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Solicitud" type="tipoSI"/>
							<xs:element name="Consentimiento" type="tipoConsentimiento"/>
							<xs:element name="Motivo_Transmision" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Contrato_Compraventa" type="tipoSINO"/>
										<xs:element name="Factura" type="xs:string"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Adjudicacion_Subasta" minOccurs="0" maxOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Acta_Adjudicacion_Subasta" type="tipoSINO" minOccurs="0"/>
										<xs:element name="Sentencia_Judicial_Adjudicacion" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Fallecimiento_Donacion" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Acreditacion_Posesion" type="tipoSINO"/>
										<xs:element name="Acreditacion_Herencia" type="tipoSINO"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Acreditacion_Fiscal">
					<xs:complexType>
						<xs:sequence>
							<xs:choice minOccurs="0">
								<xs:element name="ITP">
									<xs:complexType>
										<xs:choice>
											<xs:element name="Acreditacion_Pago">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo"/>
														<xs:choice>
															<xs:element name="Numero_Autoliquidacion" minOccurs="0" maxOccurs="0">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element ref="CET"/>
														</xs:choice>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Acreditacion_Exencion">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo" minOccurs="0"/>
														<xs:element ref="Exencion"/>
														<xs:element ref="CET" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Acreditacion_No_Sujecion">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo" minOccurs="0"/>
														<xs:element ref="No_Sujecion"/>
														<xs:element ref="CET" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element name="ISD">
									<xs:complexType>
										<xs:choice>
											<xs:element name="Acreditacion_Pago">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo"/>
														<xs:element name="Numero_Autoliquidacion" type="xs:string"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Acreditacion_Exencion">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo" minOccurs="0"/>
														<xs:element ref="Exencion"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Acreditacion_No_Sujecion">
												<xs:complexType>
													<xs:sequence>
														<xs:element ref="Modelo" minOccurs="0"/>
														<xs:element ref="No_Sujecion"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element name="IVA" type="tipoSI"/>
							</xs:choice>
							<xs:element name="IEDMT" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Acreditacion_Pago">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Modelo"/>
													<xs:element ref="CEM"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Acreditacion_Exencion">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Modelo"/>
													<xs:element ref="Exencion"/>
													<xs:element ref="CEM"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Acreditacion_No_Sujecion">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="Modelo"/>
													<xs:element ref="No_Sujecion"/>
													<xs:element ref="CEM"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="DUA" type="tipoSINO" minOccurs="0"/>
							<xs:element name="IVTM" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Alta_IVTM" type="tipoSINO"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Acreditacion_Actividad">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Vehiculos_Agricolas" type="tipoSINO"/>
							<xs:element name="Vehiculos_Transporte" type="tipoSINO" minOccurs="0" maxOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Texto_Legal" type="tipoTextoLegal"/>
				<xs:element name="Firma_Gestor" type="tipoFirma"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Datos_Firmados">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Datos_Genericos"/>
				<xs:element ref="Datos_Especificos"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Actualizacion_Domicilio" type="tipoSINO"/>
	<xs:element name="Autonomo" type="tipoSINO"/>
	<xs:element name="CodigoIAE" type="xs:string"/>
	<xs:element name="Modelo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Exencion" type="tipoSI"/>
	<xs:element name="No_Sujecion" type="tipoSI"/>
	<xs:element name="CEM" type="tipoCEM"/>
	<xs:element name="CET" type="tipoCEM"/>
	<xs:element name="Id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--Tipos complejos-->
	<xs:complexType name="Domicilio">
		<xs:sequence>
			<xs:element name="Municipio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Localidad">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Provincia">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Codigo_Postal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tipo_Via">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Nombre_Via">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Numero">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Kilometro">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Hectometro">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bloque">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Portal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Escalera">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Planta">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Puerta">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pais">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ESP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Personales">
		<xs:sequence>
			<xs:element name="Datos_Filiacion">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Persona_Fisica">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Nombre">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="18"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Primer_Apellido">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="26"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Segundo_Apellido" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="26"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Fecha_Nacimiento" type="tipoFechaAAAAMMDD"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Persona_Juridica">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Razon_Social">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Sexo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DOI" type="tipoDOI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Representante">
		<xs:sequence>
			<xs:element name="DOI" type="tipoDOI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Remitente">
		<xs:sequence>
			<xs:element name="Nombre">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Apellidos" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Documento_Identificacion">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numero" type="tipoDOI_Remitente"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Correo_Electronico" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Interesado">
		<xs:sequence>
			<xs:element name="Nombre">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Apellidos" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Documento_Identificacion">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numero" type="tipoDOI"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Correo_Electronico" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Transmitente">
		<xs:sequence>
			<xs:element name="Datos_Transmitente" type="Datos_Personales"/>
			<xs:element name="Datos_Representante" type="Datos_Representante" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Datos_Adquirente">
		<xs:sequence>
			<xs:element name="Datos_Adquirente" type="Datos_Personales"/>
			<xs:element name="Datos_Representante" type="Datos_Representante" minOccurs="0"/>
			<xs:element ref="Actualizacion_Domicilio"/>
			<xs:element name="Domicilio" type="Domicilio"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Asunto">
		<xs:sequence>
			<xs:element name="Codigo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CTVG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descripcion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Solicitud de Cambio de Titularidad de Vehículos Online para Gestores"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Destino">
		<xs:sequence>
			<xs:element name="Codigo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="101001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descripcion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DGT - Vehículos"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoCEM">
		<xs:sequence>
			<xs:element name="Codigo_Electronico">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Codigo_Provincia">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Tipos simples-->
	<xs:simpleType name="tipoSINO">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoDOI">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[mMxXyYzZ]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoDOI_Fisica">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[mMxXyYzZ]{1}[0-9]{7}[a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoDOI_Juridica">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="tipoDOI_Remitente">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoFechaAAAAMMDD">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-2][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1]))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoResultadoITV">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTasa">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTramite">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoMotivo">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoVariante">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoFirma">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTextoLegal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Este Colegio de Gestores Administrativos ha verificado que la solicitud de cambio de titularidad presentada cumple todas las obligaciones establecidas en el Reglamento General de Vehículos y resto de normativa aplicable, así como las derivadas de la aplicación de las Instrucciones de la Dirección General de Tráfico vigentes en el momento de la solicitud y del Protocolo de Cambio de Titularidad firmado entre el Consejo General de Colegios de Gestores Administrativos y la Dirección General de Tráfico."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoSI">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoOrganismo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DGT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoConsentimiento">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N/A"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="NO"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
