oegam2/src/org/gestoresmadrid/oegam2/permisoDistintivoItv/schemas/Matw_Impresion_Permiso_Distintivo_Itv.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
            <xs:element name="Solicitud_Impresion_Documentos">
                <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Datos_Firmados">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Datos_Genericos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Remitente">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                    <xs:element name="Numero_Documento_Identidad" type="tipoNIF_Colegio" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Interesado">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Numero_Documento_Identidad" type="tipoNIF" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Datos_Especificos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Jefatura" type="jefatura"/>
                                                    <xs:element name="Sucursal" type="sucursal"/>
                                                    
                                                    <xs:element name="Fecha_Matriculacion" type="dateYYYYMMDD"/><!-- Fecha de matriculación a la que se refiere el presente permiso -->
                                                    
                                                    <xs:element name="Matricula">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                                <xs:maxLength value="9"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    
                                                    <xs:element name="Marca" type="alfa25" />
                                                        
                                                    <xs:element name="Modelo">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="1"/>
                                                                <xs:maxLength value="22"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    
                                                    <xs:element minOccurs="0" name="Tipo_Carburante" type="propulsation"/>
                                                    <xs:element minOccurs="0" name="Categoria_Electrica" type="categoriaElectrica"/>
                                                    <xs:element minOccurs="0" name="Autonomia_Electrica" type="electricalData"/>
                                                
                                                    <xs:element minOccurs="0" name="Datos_Permiso">
                                                        <xs:complexType>
                                                            <xs:sequence>


                                                                <!-- <xs:element name="I_1" type="dateYYYYMMDD"/> Fecha de expedición -->
                                                                <xs:element minOccurs="0" name="Fecha_Primera_Matriculacion" type="dateYYYYMMDD"/>

                                                                <xs:element name="Tipo" type="alfa25" minOccurs="0"/>
                                                                <xs:element name="Variante" type="alfa25" minOccurs="0"/>
                                                                <xs:element name="Version"  minOccurs="0">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1"/>
                                                                            <xs:maxLength value="35"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="Servicio" type="vehiclePurpose"/>
                                                                <xs:element name="Bastidor">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1"/>
                                                                            <xs:maxLength value="21"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>

                                                                <xs:element name="Titular" type="TipoDatoTitular" />
                                                                <!--
                                                                <xs:element name="Domicilio_Vehiculo" type="TipoDatoDireccion"/>
                                                                -->
                                                                <xs:element name="Nive" minOccurs="0"><!-- No está indentificado en el permiso de circulación como propietario del vehiculo -->
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:length value="32"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>

                                                                <xs:element minOccurs="0" name="Masa_Tecnica_Admisible" type="mass"/><!-- Masa máxima en carga téncicamente adminisible -->
                                                                <xs:element minOccurs="0" name="Masa_Maxima_Autorizada" type="mass"/><!-- Masa máxima en carga adminisible en ciculacion en España -->
                                                                <xs:element minOccurs="0" name="Masa_En_Servicio" type="num7" /><!-- Masa del vehículo en servicio con carrocería y con dispositivo de acoplamiento si se trata de un vehículo tractor de categoría distinta a M1 -->
                                                                <xs:element minOccurs="0" name="Dias_Validez" ><!-- Periodo de validez de la matriculación -->
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:integer">
                                                                            <xs:minInclusive value="1"/>
                                                                            <xs:maxInclusive value="99"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="Numero_Homologacion" type="alfa50" />
                                                                <xs:element minOccurs="0" name="Cilindrada" type="power"/>
                                                                <xs:element minOccurs="0" name="Potencia_Neta_Maxima" type="power"/>
                                                                <xs:element minOccurs="0" name="Relacion_Potencia_Peso" type="relationPowerMass"/>
                                                                <xs:element name="Numero_Maximo_Plazas" type="places"/><!-- Número de plazas de asiento incluido el conductor -->
                                                                <xs:element minOccurs="0" name="Numero_Plazas_De_Pie" type="places"/>
                                                                <xs:element minOccurs="0" name="Consumo_Electrico" type="electricalData"/>
                                                                <xs:element minOccurs="0" name="Fecha_Lectura_Kilometraje" type="dateYYYYMMDD"/>
                                                                <xs:element minOccurs="0" name="Kilometraje" type="mass"/>
                                                                <xs:element minOccurs="0" name="Fecha_Validez_ITV" type="dateYYYYMMDD"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    
                                                    <xs:element minOccurs="0" name="Datos_Distintivo">
                                                        <xs:complexType>
                                                            <xs:sequence>

                                                                <xs:element name="Nivel_Emisiones">
                                                                   <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1"/>
                                                                            <xs:maxLength value="15"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="Potencia_Fiscal" type="power" />
                                                                <xs:element name="CategoriaEu">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:enumeration value="M1" />
                                                                            <xs:enumeration value="M1G" />
                                                                            <xs:enumeration value="M1SA" />
                                                                            <xs:enumeration value="M1GSA" />
                                                                            <xs:enumeration value="M1SB" />
                                                                            <xs:enumeration value="M1GSB" />
                                                                            <xs:enumeration value="M1SC" />
                                                                            <xs:enumeration value="M1GSC" />
                                                                            <xs:enumeration value="M1SD" />
                                                                            <xs:enumeration value="M1GSD" />
                                                                            <xs:enumeration value="M1SG" />
                                                                            <xs:enumeration value="M1GSG" />
                                                                            <xs:enumeration value="M1SH" />
                                                                            <xs:enumeration value="M1GSH" />
                                                                            <xs:enumeration value="M2" />
                                                                            <xs:enumeration value="M2G" />
                                                                            <xs:enumeration value="M2SA" />
                                                                            <xs:enumeration value="M2GSA" />
                                                                            <xs:enumeration value="M2SB" />
                                                                            <xs:enumeration value="M2GSB" />
                                                                            <xs:enumeration value="M2SC" />
                                                                            <xs:enumeration value="M2GSC" />
                                                                            <xs:enumeration value="M2SD" />
                                                                            <xs:enumeration value="M2GSD" />
                                                                            <xs:enumeration value="M2SG" />
                                                                            <xs:enumeration value="M2GSG" />
                                                                            <xs:enumeration value="M2SH" />
                                                                            <xs:enumeration value="M2GSH" />
                                                                            <xs:enumeration value="M3" />
                                                                            <xs:enumeration value="M3G" />
                                                                            <xs:enumeration value="M3SA" />
                                                                            <xs:enumeration value="M3GSA" />
                                                                            <xs:enumeration value="M3SB" />
                                                                            <xs:enumeration value="M3GSB" />
                                                                            <xs:enumeration value="M3SC" />
                                                                            <xs:enumeration value="M3GSC" />
                                                                            <xs:enumeration value="M3SD" />
                                                                            <xs:enumeration value="M3GSD" />
                                                                            <xs:enumeration value="M3SG" />
                                                                            <xs:enumeration value="M3GSG" />
                                                                            <xs:enumeration value="M3SH" />
                                                                            <xs:enumeration value="M3GSH" />
                                                                            <xs:enumeration value="N1" />
                                                                            <xs:enumeration value="N1G" />
                                                                            <xs:enumeration value="N1SG" />
                                                                            <xs:enumeration value="N1GSB" />
                                                                            <xs:enumeration value="N1GSG" />
                                                                            <xs:enumeration value="N2" />
                                                                            <xs:enumeration value="N2G" />
                                                                            <xs:enumeration value="N2SG" />
                                                                            <xs:enumeration value="N2SB" />
                                                                            <xs:enumeration value="N2GSB" />
                                                                            <xs:enumeration value="N2GSG" />
                                                                            <xs:enumeration value="N3" />
                                                                            <xs:enumeration value="N3G" />
                                                                            <xs:enumeration value="N3SB" />
                                                                            <xs:enumeration value="N3GSB" />
                                                                            <xs:enumeration value="N3SF" />
                                                                            <xs:enumeration value="N3GSF" />
                                                                            <xs:enumeration value="N3SG" />
                                                                            <xs:enumeration value="N3GSG" />
                                                                            <xs:enumeration value="O1" />
                                                                            <xs:enumeration value="O1SG" />
                                                                            <xs:enumeration value="O1SJ" />
                                                                            <xs:enumeration value="O2" />
                                                                            <xs:enumeration value="O2SG" />
                                                                            <xs:enumeration value="O2SJ" />
                                                                            <xs:enumeration value="O3" />
                                                                            <xs:enumeration value="O3SG" />
                                                                            <xs:enumeration value="O3SJ" />
                                                                            <xs:enumeration value="O4" />
                                                                            <xs:enumeration value="O4SG" />
                                                                            <xs:enumeration value="O4SJ" />
                                                                            <xs:enumeration value="O4SK" />
                                                                            <xs:enumeration value="S1" />
                                                                            <xs:enumeration value="S2" />
                                                                            <xs:enumeration value="S3" />
                                                                            <xs:enumeration value="S4" />
                                                                            <xs:enumeration value="R1" />
                                                                            <xs:enumeration value="R2" />
                                                                            <xs:enumeration value="R3" />
                                                                            <xs:enumeration value="R4" />
                                                                            <xs:enumeration value="L1e" />
                                                                            <xs:enumeration value="L1e-A" />
                                                                            <xs:enumeration value="L1e-B" />
                                                                            <xs:enumeration value="L2e" />
                                                                            <xs:enumeration value="L2e-P" />
                                                                            <xs:enumeration value="L2e-U" />
                                                                            <xs:enumeration value="L3e" />
                                                                            <xs:enumeration value="L3e-A1" />
                                                                            <xs:enumeration value="L3e-A2" />
                                                                            <xs:enumeration value="L3e-A3" />
                                                                            <xs:enumeration value="L3e-A1E" />
                                                                            <xs:enumeration value="L3e-A2E" />
                                                                            <xs:enumeration value="L3e-A3E" />
                                                                            <xs:enumeration value="L3e-A1T" />
                                                                            <xs:enumeration value="L3e-A2T" />
                                                                            <xs:enumeration value="L3e-A3" />
                                                                            <xs:enumeration value="L4e" />
                                                                            <xs:enumeration value="L4e-A1" />
                                                                            <xs:enumeration value="L4e-A2" />
                                                                            <xs:enumeration value="L4e-A3" />
                                                                            <xs:enumeration value="L5e" />
                                                                            <xs:enumeration value="L5e-A" />
                                                                            <xs:enumeration value="L5e-B" />
                                                                            <xs:enumeration value="L6e" />
                                                                            <xs:enumeration value="L6e-A" />
                                                                            <xs:enumeration value="L6e-BP" />
                                                                            <xs:enumeration value="L6e-BU" />
                                                                            <xs:enumeration value="L7e" />
                                                                            <xs:enumeration value="L7e-A1" />
                                                                            <xs:enumeration value="L7e-A2" />
                                                                            <xs:enumeration value="L7e-B1" />
                                                                            <xs:enumeration value="L7e-B2" />
                                                                            <xs:enumeration value="L7e-CP" />
                                                                            <xs:enumeration value="L7e-CU" />
                                                                            <xs:enumeration value="T1" />
                                                                            <xs:enumeration value="T2" />
                                                                            <xs:enumeration value="T3" />
                                                                            <xs:enumeration value="T4" />
                                                                            <xs:enumeration value="T4.1" />
                                                                            <xs:enumeration value="T4.2" />
                                                                            <xs:enumeration value="T4.3" />
                                                                            <xs:enumeration value="T5" />
                                                                            <xs:enumeration value="T5.1" />
                                                                            <xs:enumeration value="T5.2" />
                                                                            <xs:enumeration value="MAA" />
                                                                            <xs:enumeration value="MA2" />
                                                                            <xs:enumeration value="MA3" />
                                                                            <xs:enumeration value="T5.3" />
                                                                            <xs:enumeration value="quad" />
                                                                            <xs:enumeration value="atv" />
                                                                            <xs:enumeration value="OTRO" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>     
                                                    
                                                    <xs:element name="Imprimir_Permiso" ><!-- Periodo de validez de la matriculación -->
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="S"/>
                                                                <xs:enumeration value="N"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    
                                                    <xs:element name="Imprimir_Distintivo" ><!-- Periodo de validez de la matriculación -->
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="S"/>
                                                                <xs:enumeration value="N"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    
                                                    <xs:element name="Texto_Legal">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Este Colegio de Gestores Administrativos ha verificado que la solicitud presentada cumple todas las obligaciones establecidas en el Reglamento General de Vehículos y resto de normativa aplicable, así como las derivadas de la aplicación de las Instrucciones de la Dirección General de Tráfico vigentes en el momento de la solicitud."/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                    </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    <!--    <xs:attribute name="version" >
                            <xs:restriction base="xs:string">
                                    <xs:enumeration value="1.0"/>
                            </xs:restriction>
                        </xs:attribute>-->
                </xs:complexType>
            </xs:element>


            <xs:simpleType name="num7">
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="9999999"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="alfa5">
                <xs:restriction base="xs:string">
                        <xs:maxLength value="5"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="alfa20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="alfa25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="alfa50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="dateYYYYMMDD">
                <xs:restriction base="xs:string">
                    <xs:pattern value="(([1-2][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1]))"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="vehiclePurpose">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="B00"/>
                    <xs:enumeration value="A00"/>
                    <xs:enumeration value="A01"/>
                    <xs:enumeration value="A02"/>
                    <xs:enumeration value="A03"/>
                    <xs:enumeration value="A04"/>
                    <xs:enumeration value="A05"/>
                    <xs:enumeration value="B06"/>
                    <xs:enumeration value="A07"/>
                    <xs:enumeration value="B07"/>
                    <xs:enumeration value="A08"/>
                    <xs:enumeration value="B09"/>
                    <xs:enumeration value="A10"/>
                    <xs:enumeration value="A11"/>
                    <xs:enumeration value="A12"/>
                    <xs:enumeration value="A13"/>
                    <xs:enumeration value="A14"/>
                    <xs:enumeration value="A15"/>
                    <xs:enumeration value="A16"/>
                    <xs:enumeration value="B17"/>
                    <xs:enumeration value="A18"/>
                    <xs:enumeration value="B18"/>
                    <xs:enumeration value="B19"/>
                    <xs:enumeration value="A20"/>
                    <xs:enumeration value="B21"/>
                </xs:restriction>
            </xs:simpleType>
	
            <xs:simpleType name="jefatura">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="VI"/>
                    <xs:enumeration value="AB"/>
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="AL"/>
                    <xs:enumeration value="O"/>
                    <xs:enumeration value="AV"/>
                    <xs:enumeration value="BA"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="BU"/>
                    <xs:enumeration value="CC"/>
                    <xs:enumeration value="CA"/>
                    <xs:enumeration value="CS"/>
                    <xs:enumeration value="CR"/>
                    <xs:enumeration value="CO"/>
                    <xs:enumeration value="C"/>
                    <xs:enumeration value="CU"/>
                    <xs:enumeration value="GE"/>
                    <xs:enumeration value="GR"/>
                    <xs:enumeration value="GU"/>
                    <xs:enumeration value="SS"/>
                    <xs:enumeration value="H"/>
                    <xs:enumeration value="HU"/>
                    <xs:enumeration value="PM"/>
                    <xs:enumeration value="J"/>
                    <xs:enumeration value="LE"/>
                    <xs:enumeration value="L"/>
                    <xs:enumeration value="LO"/>
                    <xs:enumeration value="LU"/>
                    <xs:enumeration value="M"/>
                    <xs:enumeration value="MA"/>
                    <xs:enumeration value="MU"/>
                    <xs:enumeration value="NA"/>
                    <xs:enumeration value="OR"/>
                    <xs:enumeration value="P"/>
                    <xs:enumeration value="GC"/>
                    <xs:enumeration value="PO"/>
                    <xs:enumeration value="TF"/>
                    <xs:enumeration value="S"/>
                    <xs:enumeration value="SG"/>
                    <xs:enumeration value="SE"/>
                    <xs:enumeration value="SO"/>
                    <xs:enumeration value="T"/>
                    <xs:enumeration value="TE"/>
                    <xs:enumeration value="TO"/>
                    <xs:enumeration value="V"/>
                    <xs:enumeration value="VA"/>
                    <xs:enumeration value="BI"/>
                    <xs:enumeration value="ZA"/>
                    <xs:enumeration value="Z"/>
                    <xs:enumeration value="CE"/>
                    <xs:enumeration value="ML"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="provincia">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="VI"/>
                    <xs:enumeration value="AB"/>
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="AL"/>
                    <xs:enumeration value="O"/>
                    <xs:enumeration value="AV"/>
                    <xs:enumeration value="BA"/>
                    <xs:enumeration value="B"/>
                    <xs:enumeration value="BU"/>
                    <xs:enumeration value="CC"/>
                    <xs:enumeration value="CA"/>
                    <xs:enumeration value="CS"/>
                    <xs:enumeration value="CR"/>
                    <xs:enumeration value="CO"/>
                    <xs:enumeration value="C"/>
                    <xs:enumeration value="CU"/>
                    <xs:enumeration value="GI"/>
                    <xs:enumeration value="GR"/>
                    <xs:enumeration value="GU"/>
                    <xs:enumeration value="SS"/>
                    <xs:enumeration value="H"/>
                    <xs:enumeration value="HU"/>
                    <xs:enumeration value="IB"/>
                    <xs:enumeration value="J"/>
                    <xs:enumeration value="LE"/>
                    <xs:enumeration value="L"/>
                    <xs:enumeration value="LO"/>
                    <xs:enumeration value="LU"/>
                    <xs:enumeration value="M"/>
                    <xs:enumeration value="MA"/>
                    <xs:enumeration value="MU"/>
                    <xs:enumeration value="NA"/>
                    <xs:enumeration value="OU"/>
                    <xs:enumeration value="P"/>
                    <xs:enumeration value="GC"/>
                    <xs:enumeration value="PO"/>
                    <xs:enumeration value="TF"/>
                    <xs:enumeration value="S"/>
                    <xs:enumeration value="SG"/>
                    <xs:enumeration value="SE"/>
                    <xs:enumeration value="SO"/>
                    <xs:enumeration value="T"/>
                    <xs:enumeration value="TE"/>
                    <xs:enumeration value="TO"/>
                    <xs:enumeration value="V"/>
                    <xs:enumeration value="VA"/>
                    <xs:enumeration value="BI"/>
                    <xs:enumeration value="ZA"/>
                    <xs:enumeration value="Z"/>
                    <xs:enumeration value="CE"/>
                    <xs:enumeration value="ML"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="sucursal">
                <xs:restriction base="xs:string">
                    <xs:enumeration value=""/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="mass">
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="999999"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="electricalData">
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="9999"/>
                </xs:restriction>
            </xs:simpleType>
            
            
            <xs:simpleType name="power">
                <xs:restriction base="xs:decimal">
                    <xs:maxInclusive value="999999"/>
                    <xs:fractionDigits value="2" />
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="relationPowerMass">
                <xs:restriction base="xs:decimal">
                    <xs:maxExclusive value="100"/>
                    <xs:fractionDigits value="4" />
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="places">
		<xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="999"/>
                </xs:restriction>
            </xs:simpleType>
            
            
            <xs:simpleType name="propulsation">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="BM"/>
                    <xs:enumeration value="BD"/>
                    <xs:enumeration value="D"/>
                    <xs:enumeration value="G"/>
                    <xs:enumeration value="GLP"/>
                    <xs:enumeration value="GNC"/>
                    <xs:enumeration value="GNL"/>
                    <xs:enumeration value="H"/>
                    <xs:enumeration value="ET"/>
                    <xs:enumeration value="E"/>
                    <xs:enumeration value="OT"/>
                    <xs:enumeration value="G/E"/>
					<xs:enumeration value="G/GLP"/>
					<xs:enumeration value="GLP/G"/>
					<xs:enumeration value="G/GNC"/>
                    <xs:enumeration value=""/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="categoriaElectrica">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="BEV"/>
                    <xs:enumeration value="PHEV"/>
                    <xs:enumeration value="REEV"/>
                    <xs:enumeration value="HEV"/>
                    <xs:enumeration value="FCEV"/>
                    <xs:enumeration value="HICEV"/>
                </xs:restriction>
            </xs:simpleType>
            
            
            <xs:simpleType name="tipoNIF_Colegio">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="tipoNIF">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[mMxXyYzZ]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
            </xs:simpleType>
            
            <xs:complexType name="TipoDatoTitular">
		<xs:sequence>
			<xs:element name="Razon_Social" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                        <xs:maxLength value="70"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
			<xs:element name="Nombre" type="alfa20" minOccurs="0"/>
			<xs:element name="Primer_Apellido" type="alfa20" minOccurs="0"/>
			<xs:element name="Segundo_Apellido" type="alfa20" minOccurs="0"/>
		</xs:sequence>
            </xs:complexType>
            
            
            <xs:complexType name="TipoDatoDireccion">
		<xs:sequence>
			<xs:element name="Municipio" type="alfa5"/>
			<xs:element name="Localidad">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                        <xs:maxLength value="74"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
			<xs:element name="Provincia" type="provincia"/>
			<xs:element name="Codigo_Postal">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{5}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
			<xs:element name="Tipo_Via" type="alfa5"/>
			<xs:element name="Nombre_Via" type="alfa50" />
			<xs:element name="Numero" type="alfa5" minOccurs="0"/>
			<xs:element name="Kilometro" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="99999"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
			<xs:element name="Hectometro" type="num7" minOccurs="0"/>
			<xs:element name="Bloque" type="alfa5" minOccurs="0"/>
			<xs:element name="Portal" type="alfa5" minOccurs="0"/>
			<xs:element name="Escalera" type="alfa5" minOccurs="0"/>
			<xs:element name="Planta" type="alfa5" minOccurs="0"/>
			<xs:element name="Puerta" type="alfa5" minOccurs="0"/>
			<xs:element name="Pais" type="alfa5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType> 
</xs:schema>