IvtmClientJAX/resource/wsdl/InteroperabilidadExternaService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sbintopexterna.sbae.iam.es" version="1.0" targetNamespace="http://sbintopexterna.sbae.iam.es">

  <xs:element name="peticionExterna" nillable="true" type="tns:PeticionExterna"></xs:element>

  <xs:element name="resultadoPeticion" nillable="true" type="tns:RespuestaPeticion"></xs:element>

  <xs:complexType name="PeticionExterna">
    <xs:sequence>
      <xs:any processContents="skip" namespace="##other"></xs:any>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RespuestaPeticion">
    <xs:sequence>
      <xs:element name="resultadoServicio" type="tns:ResultadoServicio" minOccurs="0"></xs:element>
      <xs:element name="respuestaServicio" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultadoServicio">
    <xs:sequence>
      <xs:element name="codigoResultado" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mensajeResultado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>