oegam2/src/trafico/schemas/matw/Tipos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by AppsPortables.com (AppsPortables.com) -->
<xs:schema xmlns="http://www.dgt.es/vehiculos/tipos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dgt.es/vehiculos/tipos" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:complexType name="TipoDatoColegio">
		<xs:sequence>
			<xs:element name="Nombre" type="alfa200"/>
			<xs:element name="Apellidos" type="alfa45"/>
			<xs:element name="Documento_Identificacion">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Numero" type="tipoNIF_Colegio"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Correo_Electronico" type="alfa30"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoGestoria">
		<xs:sequence>
			<xs:element name="Nombre" type="alfa200"/>
			<xs:element name="Apellidos" type="alfa45"/>
			<xs:element name="Documento_Identificacion" type="TipoDocumentoIdentificacion"/>
			<xs:element name="Correo_Electronico" type="alfa30"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoTitular">
		<xs:sequence>
			<xs:element name="Datos_Nombre" type="tipoDatoNombre"/>
			<xs:element name="Documento_Identidad" type="TipoDocumentoIdentificacion"/>
			<xs:element name="Fecha_Nacimiento" type="tipoFechaAAAAMMDD" minOccurs="0"/>
			<xs:element name="Sexo" type="alfa1" minOccurs="0"/>
			<xs:element name="Documento_Identidad_Representante" type="TipoDocumentoIdentificacion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoConductor">
		<xs:sequence>
			<xs:element name="Documento_Identidad" type="TipoDocumentoIdentificacion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoDatoNombre">
		<xs:sequence>
			<xs:element name="Razon_Social" type="alfa70" minOccurs="0"/>
			<xs:element name="Nombre" type="alfa20" minOccurs="0"/>
			<xs:element name="Primer_Apellido" type="alfa20" minOccurs="0"/>
			<xs:element name="Segundo_Apellido" type="alfa20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoDocumento">
		<xs:sequence>
			<xs:element name="Codigo" type="alfa32"/>
			<xs:element name="Nombre" type="xs:string"/>
			<xs:element name="Hash" type="tipoHash"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoCambioDomicilio">
		<xs:sequence>
			<xs:element name="Cambio_Domicilio" type="tipoSNBlanco"/>
			<xs:element name="Datos_Domicilio" type="TipoDatoDireccion" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoDireccion">
		<xs:sequence>
			<xs:element name="Municipio" type="alfa5"/>
			<xs:element name="Localidad" type="alfa74"/>
			<xs:element name="Provincia" type="alfa2"/>
			<xs:element name="Codigo_Postal" type="alfa5"/>
			<xs:element name="Tipo_Via" type="alfa5"/>
			<xs:element name="Nombre_Via" type="alfa50"/>
			<xs:element name="Numero" type="alfa5" minOccurs="0"/>
			<xs:element name="Kilometro" type="num5" minOccurs="0"/>
			<xs:element name="Hectometro" type="num7" minOccurs="0"/>
			<xs:element name="Bloque" type="alfa5" minOccurs="0"/>
			<xs:element name="Portal" type="alfa5" minOccurs="0"/>
			<xs:element name="Escalera" type="alfa5" minOccurs="0"/>
			<xs:element name="Planta" type="alfa5" minOccurs="0"/>
			<xs:element name="Puerta" type="alfa5" minOccurs="0"/>
			<xs:element name="Pais" type="alfa5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoAsuntoMATG">
		<xs:sequence>
			<xs:element name="Codigo">
				<xs:simpleType>
					<xs:restriction base="alfa32">
						<xs:enumeration value="MATW"/>
<!-- 						<xs:enumeration value="MGDT"/> -->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descripcion">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDatoDestino">
		<xs:sequence>
			<xs:element name="Codigo">
				<xs:simpleType>
					<xs:restriction base="alfa7">
						<xs:enumeration value="101001"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Descripcion">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDocumentoIdentificacion">
		<xs:sequence>
			<xs:element name="Numero" type="tipoNIF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tipoError">
		<xs:sequence>
			<xs:element name="MSGID" type="xs:string"/>
			<xs:element name="MSGSTR" type="xs:string"/>
			<xs:element name="DETAILS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DETAIL" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CODE" type="xs:string"/>
									<xs:element name="MESSAGES" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tipoHora">
		<xs:restriction base="num4">
			<!--<xs:pattern value="([0-2][0-9][0-5][0-9])"/>-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoVersionRegistro">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoVersionEspecificos">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoHash">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="tipoFechaAAAAMMDD">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-2][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1]))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoFechaAAAAMMDDHora">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-2][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])([0-1][0-9]|2[0-3])([0-5][0-9]))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoOrganismo">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="DGT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoNIF_Colegio">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoNIF">
		<xs:restriction base="xs:string">
			<xs:pattern value="[kKlL0-9]{1}[0-9]{7}[a-zA-Z]{1}|[mMxXyYzZ]{1}[0-9]{7}[a-zA-Z]{1}|[a-hA-HjJuUvV]{1}[0-9]{8}|[p-sP-SnNwW]{1}[0-9]{7}[a-jA-J]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoSucursal">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:enumeration value=""/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa8_CEM">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa12_tasa">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa20_expediente">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa21">
		<xs:restriction base="xs:string">
			<xs:maxLength value="21"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa22">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa23">
		<xs:restriction base="xs:string">
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa24">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa45">
		<xs:restriction base="xs:string">
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa74">
		<xs:restriction base="xs:string">
			<xs:maxLength value="74"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa114">
		<xs:restriction base="xs:string">
			<xs:maxLength value="114"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec5_cilindrada">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2" fixed="false"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec6_co2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="3"/>
			<xs:maxInclusive value="999.999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec6_potenciaPeso">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6"/>
			<xs:fractionDigits value="4"/>
			<xs:maxInclusive value="99.9999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec7">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="2"/>
			<xs:maxInclusive value="99999.99"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec12">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="2"/>
			<xs:maxInclusive value="9999999999.99"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dec12_potenciaNeta">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="3"/>
			<xs:maxInclusive value="999999999.999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num3">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num4">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num5">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num6">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num7">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoSN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:minLength value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoSNBlanco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:minLength value="0"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alfa4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTramite">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoInspeccion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoTramiteMATG">
		<xs:restriction base="xs:string">
			<xs:enumeration value="    "/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
