MateCard2/src/MATEService.wsdl

<definitions name="MATEService" targetNamespace="http://blackbox.gescogroup.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://blackbox.gescogroup.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://blackbox.gescogroup.com" version="1.0" xmlns:tns="http://blackbox.gescogroup.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="sendCardMATE" type="tns:sendCardMATE"/>
   <xs:element name="sendCardMATEResponse" type="tns:sendCardMATEResponse"/>
   <xs:element name="sendElectronicMATE" type="tns:sendElectronicMATE"/>
   <xs:element name="sendElectronicMATEResponse" type="tns:sendElectronicMATEResponse"/>
   <xs:complexType name="sendCardMATE">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="tns:cardMATERequest"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cardMATERequest">
    <xs:sequence>
     <xs:element minOccurs="0" name="agencyFiscalId" type="xs:string"/>
     <xs:element minOccurs="0" name="customDossierNumber" type="xs:string"/>
     <xs:element minOccurs="0" name="externalSystemFiscalId" type="xs:string"/>
     <xs:element minOccurs="0" name="firstMatriculationDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="fiscalRepresentantBirthDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="form05Key" type="xs:string"/>
     <xs:element minOccurs="0" name="form06ExcemptionType" type="xs:string"/>
     <xs:element minOccurs="0" name="form06ExcemptionValue" type="xs:string"/>
     <xs:element minOccurs="0" name="hasForm05" type="xs:boolean"/>
     <xs:element minOccurs="0" name="hasForm06" type="xs:boolean"/>
     <xs:element minOccurs="0" name="hasForm576" type="xs:boolean"/>
     <xs:element minOccurs="0" name="itvCardType" type="xs:string"/>
     <xs:element minOccurs="0" name="kmUsed" type="xs:int"/>
     <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
     <xs:element minOccurs="0" name="vehicleKind" type="xs:string"/>
     <xs:element minOccurs="0" name="xmlB64" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendCardMATEResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="tns:cardMATEResponse"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cardMATEResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="codeHG" type="xs:string"/>
     <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="errorCodes" nillable="true" type="tns:mateCardError"/>
     <xs:element minOccurs="0" name="license" type="xs:string"/>
     <xs:element minOccurs="0" name="plateNumber" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mateCardError">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="key" type="xs:string"/>
       <xs:element minOccurs="0" name="mateCardRequest" type="tns:mateCardRequest"/>
       <xs:element minOccurs="0" name="message" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="abstractEntity">
    <xs:sequence>
     <xs:element minOccurs="0" name="createdOn" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="deletedOn" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="id" type="xs:int"/>
     <xs:element minOccurs="0" name="modifiedOn" type="xs:dateTime"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mateCardRequest">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="agency" type="tns:agency"/>
       <xs:element minOccurs="0" name="agent" type="tns:agent"/>
       <xs:element minOccurs="0" name="branchOffice" type="tns:branchOffice"/>
       <xs:element minOccurs="0" name="customDossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="externalSystem" type="tns:externalSystem"/>
       <xs:element minOccurs="0" name="firstMatriculationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="fiscalRepresentantBirthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="form05Key" type="tns:form05Key"/>
       <xs:element minOccurs="0" name="form06ExcemptionType" type="tns:form06ExcemptionType"/>
       <xs:element minOccurs="0" name="form06ExcemptionValue" type="tns:form06ExcemptionValue"/>
       <xs:element minOccurs="0" name="hasForm05" type="xs:boolean"/>
       <xs:element minOccurs="0" name="hasForm06" type="xs:boolean"/>
       <xs:element minOccurs="0" name="hasForm576" type="xs:boolean"/>
       <xs:element minOccurs="0" name="homologationCode" type="xs:string"/>
       <xs:element minOccurs="0" name="itvCardType" type="tns:itvCardType"/>
       <xs:element minOccurs="0" name="kmUsed" type="xs:int"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="mateCardErrors" nillable="true" type="tns:mateCardError"/>
       <xs:element minOccurs="0" name="mateResponse" type="tns:mateResponse"/>
       <xs:element minOccurs="0" name="mateXMLRequest" type="tns:matexmlRequest"/>
       <xs:element minOccurs="0" name="matriculation" type="tns:mateCardMatriculation"/>
       <xs:element minOccurs="0" name="professionalOrder" type="tns:professionalOrder"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="abstractProcessEntity">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="createdBy" type="tns:user"/>
       <xs:element minOccurs="0" name="modifiedBy" type="tns:user"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agency">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="address" type="tns:address"/>
       <xs:element name="agencyCode" type="xs:int"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="agencyEmployees" nillable="true" type="tns:agencyEmployee"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="agents" nillable="true" type="tns:agent"/>
       <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
       <xs:element minOccurs="0" name="fiscalId" type="xs:string"/>
       <xs:element minOccurs="0" name="fiscalPersonType" type="tns:fiscalPersonType"/>
       <xs:element name="invoicingId" type="xs:int"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="telephoneNumber" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="address">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="customStreet" type="xs:string"/>
       <xs:element minOccurs="0" name="door" type="xs:string"/>
       <xs:element minOccurs="0" name="floor" type="xs:string"/>
       <xs:element minOccurs="0" name="municipality" type="tns:municipality"/>
       <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
       <xs:element minOccurs="0" name="stair" type="xs:string"/>
       <xs:element minOccurs="0" name="street" type="tns:street"/>
       <xs:element minOccurs="0" name="streetNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="streetType" type="tns:streetType"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="municipality">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="description" type="tns:mlString"/>
       <xs:element minOccurs="0" name="dgtName" type="xs:string"/>
       <xs:element minOccurs="0" name="ineCode" type="xs:string"/>
       <xs:element minOccurs="0" name="key" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="province" type="tns:province"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mlString">
    <xs:sequence>
     <xs:element minOccurs="0" name="createdOn" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="deletedOn" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="id" type="xs:int"/>
     <xs:element minOccurs="0" name="modifiedOn" type="xs:dateTime"/>
     <xs:element name="translations">
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
         <xs:complexType>
          <xs:sequence>
           <xs:element minOccurs="0" name="key" type="xs:string"/>
           <xs:element minOccurs="0" name="value" type="tns:translation"/>
          </xs:sequence>
         </xs:complexType>
        </xs:element>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translation">
    <xs:sequence>
     <xs:element minOccurs="0" name="languageId" type="xs:string"/>
     <xs:element minOccurs="0" name="mlString" type="tns:mlString"/>
     <xs:element minOccurs="0" name="mlStringId" type="xs:int"/>
     <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="province">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="description" type="tns:mlString"/>
       <xs:element minOccurs="0" name="ineCode" type="xs:string"/>
       <xs:element minOccurs="0" name="key" type="xs:string"/>
       <xs:element minOccurs="0" name="provinceGroup" type="tns:provinceGroup"/>
       <xs:element minOccurs="0" name="region" type="tns:region"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="region">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="description" type="tns:mlString"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="provinces" nillable="true" type="tns:province"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="street">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="municipality" type="tns:municipality"/>
       <xs:element minOccurs="0" name="streetName" type="tns:mlString"/>
       <xs:element minOccurs="0" name="streetType" type="tns:streetType"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="streetType">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="description" type="tns:mlString"/>
       <xs:element minOccurs="0" name="key" type="xs:string"/>
       <xs:element minOccurs="0" name="key576" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agencyEmployee">
    <xs:complexContent>
     <xs:extension base="tns:user">
      <xs:sequence>
       <xs:element minOccurs="0" name="agency" type="tns:agency"/>
       <xs:element minOccurs="0" name="agent" type="tns:agent"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="activationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="address" type="tns:address"/>
       <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="defaultLanguage" type="xs:string"/>
       <xs:element minOccurs="0" name="dropOutDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
       <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
       <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="nif" type="xs:string"/>
       <xs:element minOccurs="0" name="observations" type="xs:string"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="profiles" nillable="true" type="tns:profile"/>
       <xs:element minOccurs="0" name="role" type="xs:string"/>
       <xs:element minOccurs="0" name="surname" type="xs:string"/>
       <xs:element minOccurs="0" name="surname2" type="xs:string"/>
       <xs:element minOccurs="0" name="telephoneNumber" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agent">
    <xs:complexContent>
     <xs:extension base="tns:user">
      <xs:sequence>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="agencies" nillable="true" type="tns:agency"/>
       <xs:element minOccurs="0" name="agentCertificate" type="tns:agentCertificate"/>
       <xs:element minOccurs="0" name="branchOffice" type="tns:branchOffice"/>
       <xs:element minOccurs="0" name="fiscalAddress" type="tns:address"/>
       <xs:element name="memberId" type="xs:int"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agentCertificate">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="activationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="agent" type="tns:agent"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="agentCertificateRequest" nillable="true" type="tns:agentCertificateRequest"/>
       <xs:element minOccurs="0" name="certificate" type="xs:string"/>
       <xs:element minOccurs="0" name="commonName" type="xs:string"/>
       <xs:element minOccurs="0" name="country" type="xs:string"/>
       <xs:element minOccurs="0" name="email" type="xs:string"/>
       <xs:element minOccurs="0" name="encryptedPrivateKey" type="xs:string"/>
       <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="givenName" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="organization" type="xs:string"/>
       <xs:element minOccurs="0" name="organizationUnit" type="xs:string"/>
       <xs:element minOccurs="0" name="passwd" type="xs:string"/>
       <xs:element minOccurs="0" name="profOrderCif" type="xs:string"/>
       <xs:element minOccurs="0" name="province" type="xs:string"/>
       <xs:element minOccurs="0" name="requestId" type="xs:int"/>
       <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="state" type="tns:agentCertificateState"/>
       <xs:element minOccurs="0" name="surnames" type="xs:string"/>
       <xs:element minOccurs="0" name="title" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="agentCertificateRequest">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="agentCertificate" type="tns:agentCertificate"/>
       <xs:element minOccurs="0" name="certificateState" type="tns:agentCertificateState"/>
       <xs:element minOccurs="0" name="requestState" type="tns:agentCertificateRequestState"/>
       <xs:element minOccurs="0" name="response" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branchOffice">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="address" type="tns:address"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="branchEmployees" nillable="true" type="tns:branchEmployee"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="professionalOrder" type="tns:professionalOrder"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="branchEmployee">
    <xs:complexContent>
     <xs:extension base="tns:user">
      <xs:sequence>
       <xs:element minOccurs="0" name="branchOffice" type="tns:branchOffice"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profile">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="admin" type="xs:boolean"/>
       <xs:element minOccurs="0" name="description" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="servicePermissions" nillable="true" type="tns:servicePermission"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="uiPermissions" nillable="true" type="tns:uiPermission"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servicePermission">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="execute" type="xs:boolean"/>
       <xs:element minOccurs="0" name="fqn" type="xs:string"/>
       <xs:element minOccurs="0" name="profile" type="tns:profile"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uiPermission">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="execute" type="xs:boolean"/>
       <xs:element minOccurs="0" name="fqn" type="xs:string"/>
       <xs:element minOccurs="0" name="profile" type="tns:profile"/>
       <xs:element minOccurs="0" name="read" type="xs:boolean"/>
       <xs:element minOccurs="0" name="write" type="xs:boolean"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="professionalOrder">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="address" type="tns:address"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="branchOffices" nillable="true" type="tns:branchOffice"/>
       <xs:element minOccurs="0" name="externalSystem" type="tns:externalSystem"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="nif" type="xs:string"/>
       <xs:element minOccurs="0" name="poCode" type="xs:string"/>
       <xs:element minOccurs="0" name="profOrderCertificate" type="tns:poCertificate"/>
       <xs:element minOccurs="0" name="shortName" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="externalSystem">
    <xs:complexContent>
     <xs:extension base="tns:user">
      <xs:sequence>
       <xs:element minOccurs="0" name="authMethod" type="tns:authMethod"/>
       <xs:element minOccurs="0" name="cif" type="xs:string"/>
       <xs:element minOccurs="0" name="description" type="xs:string"/>
       <xs:element minOccurs="0" name="password" type="xs:string"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="professionalOrders" nillable="true" type="tns:professionalOrder"/>
       <xs:element minOccurs="0" name="sourceIps" type="xs:string"/>
       <xs:element minOccurs="0" name="username" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="poCertificate">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="certificate" type="xs:string"/>
       <xs:element minOccurs="0" name="commonName" type="xs:string"/>
       <xs:element minOccurs="0" name="country" type="xs:string"/>
       <xs:element minOccurs="0" name="csr" type="xs:string"/>
       <xs:element minOccurs="0" name="email" type="xs:string"/>
       <xs:element minOccurs="0" name="encryptedPrivateKey" type="xs:string"/>
       <xs:element minOccurs="0" name="givenName" type="xs:string"/>
       <xs:element minOccurs="0" name="profOrder" type="tns:professionalOrder"/>
       <xs:element minOccurs="0" name="province" type="xs:string"/>
       <xs:element minOccurs="0" name="representantNif" type="xs:string"/>
       <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="state" type="tns:poCertificateState"/>
       <xs:element minOccurs="0" name="surnames" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateResponse">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="homologationCode" type="xs:string"/>
       <xs:element minOccurs="0" name="mateRequest" type="tns:mateRequest"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateRequest">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="agency" type="tns:agency"/>
       <xs:element minOccurs="0" name="agent" type="tns:agent"/>
       <xs:element minOccurs="0" name="branchOffice" type="tns:branchOffice"/>
       <xs:element minOccurs="0" name="customDossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="externalSystem" type="tns:externalSystem"/>
       <xs:element minOccurs="0" name="firstMatriculationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="fiscalRepresentantBirthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="form05Key" type="tns:form05Key"/>
       <xs:element minOccurs="0" name="form06ExcemptionType" type="tns:form06ExcemptionType"/>
       <xs:element minOccurs="0" name="form06ExcemptionValue" type="tns:form06ExcemptionValue"/>
       <xs:element minOccurs="0" name="hasForm05" type="xs:boolean"/>
       <xs:element minOccurs="0" name="hasForm06" type="xs:boolean"/>
       <xs:element minOccurs="0" name="hasForm576" type="xs:boolean"/>
       <xs:element minOccurs="0" name="homologationCode" type="xs:string"/>
       <xs:element minOccurs="0" name="itvCardType" type="tns:itvCardType"/>
       <xs:element minOccurs="0" name="kmUsed" type="xs:int"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="mateErrors" nillable="true" type="tns:mateError"/>
       <xs:element minOccurs="0" name="mateResponse" type="tns:mateResponse"/>
       <xs:element minOccurs="0" name="mateXMLRequest" type="tns:matexmlRequest"/>
       <xs:element minOccurs="0" name="matriculation" type="tns:mateMatriculation"/>
       <xs:element minOccurs="0" name="professionalOrder" type="tns:professionalOrder"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateError">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="key" type="xs:string"/>
       <xs:element minOccurs="0" name="MATERequest" type="tns:mateRequest"/>
       <xs:element minOccurs="0" name="message" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="matexmlRequest">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="homologationCode" type="xs:string"/>
       <xs:element minOccurs="0" name="xmlB64" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateMatriculation">
    <xs:complexContent>
     <xs:extension base="tns:dossier">
      <xs:sequence>
       <xs:element minOccurs="0" name="brand" type="xs:string"/>
       <xs:element minOccurs="0" name="CEM" type="xs:string"/>
       <xs:element minOccurs="0" name="codeHomologation" type="xs:string"/>
       <xs:element minOccurs="0" name="codeITV" type="xs:string"/>
       <xs:element minOccurs="0" name="cubicCapacity" type="xs:double"/>
       <xs:element minOccurs="0" name="expirationDateITV" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="filingDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="has05" type="xs:boolean"/>
       <xs:element minOccurs="0" name="has06" type="xs:boolean"/>
       <xs:element minOccurs="0" name="has576" type="xs:boolean"/>
       <xs:element minOccurs="0" name="itvCardType" type="tns:itvCardType"/>
       <xs:element minOccurs="0" name="kindITV" type="xs:string"/>
       <xs:element minOccurs="0" name="license" type="tns:mateLicense"/>
       <xs:element minOccurs="0" name="limitationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="localDGTDivision" type="xs:string"/>
       <xs:element minOccurs="0" name="masa" type="xs:int"/>
       <xs:element minOccurs="0" name="matriculationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="maxPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="model" type="xs:string"/>
       <xs:element minOccurs="0" name="mtma" type="xs:int"/>
       <xs:element minOccurs="0" name="plateNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="power" type="xs:double"/>
       <xs:element minOccurs="0" name="powerWeight" type="xs:double"/>
       <xs:element minOccurs="0" name="seatPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="standUpPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="status" type="tns:mateMatriculationState"/>
       <xs:element minOccurs="0" name="tara" type="xs:int"/>
       <xs:element minOccurs="0" name="variant" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleColor" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleFuel" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleHomologation" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleKind" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleOrigin" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleOwner" type="tns:mateVehicleOwner"/>
       <xs:element minOccurs="0" name="vehiclePurpose" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleVersion" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType abstract="true" name="dossier">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="agency" type="tns:agency"/>
       <xs:element minOccurs="0" name="agent" type="tns:agent"/>
       <xs:element minOccurs="0" name="dgtTaxCode" type="xs:string"/>
       <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateLicense">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="licensePDF" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateVehicleOwner">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="fiscalId" type="xs:string"/>
       <xs:element minOccurs="0" name="fiscalRepBirthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="gender" type="tns:genderType"/>
       <xs:element minOccurs="0" name="municipality" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="ownerType" type="tns:vehicleOwnerType"/>
       <xs:element minOccurs="0" name="province" type="xs:string"/>
       <xs:element minOccurs="0" name="surname" type="xs:string"/>
       <xs:element minOccurs="0" name="surname2" type="xs:string"/>
       <xs:element minOccurs="0" name="town" type="xs:string"/>
       <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateCardMatriculation">
    <xs:complexContent>
     <xs:extension base="tns:dossier">
      <xs:sequence>
       <xs:element minOccurs="0" name="brand" type="xs:string"/>
       <xs:element minOccurs="0" name="CEM" type="xs:string"/>
       <xs:element minOccurs="0" name="codeHomologation" type="xs:string"/>
       <xs:element minOccurs="0" name="codeITV" type="xs:string"/>
       <xs:element minOccurs="0" name="cubicCapacity" type="xs:double"/>
       <xs:element minOccurs="0" name="expirationDateITV" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="filingDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="has05" type="xs:boolean"/>
       <xs:element minOccurs="0" name="has06" type="xs:boolean"/>
       <xs:element minOccurs="0" name="has576" type="xs:boolean"/>
       <xs:element minOccurs="0" name="itvCardType" type="tns:itvCardType"/>
       <xs:element minOccurs="0" name="kindITV" type="xs:string"/>
       <xs:element minOccurs="0" name="license" type="tns:mateCardLicense"/>
       <xs:element minOccurs="0" name="limitationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="localDGTDivision" type="xs:string"/>
       <xs:element minOccurs="0" name="masa" type="xs:int"/>
       <xs:element minOccurs="0" name="matriculationDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="maxPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="model" type="xs:string"/>
       <xs:element minOccurs="0" name="mtma" type="xs:int"/>
       <xs:element minOccurs="0" name="plateNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="power" type="xs:double"/>
       <xs:element minOccurs="0" name="powerWeight" type="xs:double"/>
       <xs:element minOccurs="0" name="seatPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
       <xs:element minOccurs="0" name="standUpPlaces" type="xs:int"/>
       <xs:element minOccurs="0" name="status" type="tns:mateMatriculationState"/>
       <xs:element minOccurs="0" name="tara" type="xs:int"/>
       <xs:element minOccurs="0" name="variant" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleColor" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleFuel" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleHomologation" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleKind" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleOrigin" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleOwner" type="tns:mateCardVehicleOwner"/>
       <xs:element minOccurs="0" name="vehiclePurpose" type="xs:string"/>
       <xs:element minOccurs="0" name="vehicleVersion" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateCardLicense">
    <xs:complexContent>
     <xs:extension base="tns:abstractEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="licensePDF" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mateCardVehicleOwner">
    <xs:complexContent>
     <xs:extension base="tns:abstractProcessEntity">
      <xs:sequence>
       <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="fiscalId" type="xs:string"/>
       <xs:element minOccurs="0" name="fiscalRepBirthDate" type="xs:dateTime"/>
       <xs:element minOccurs="0" name="gender" type="tns:genderType"/>
       <xs:element minOccurs="0" name="municipality" type="xs:string"/>
       <xs:element minOccurs="0" name="name" type="xs:string"/>
       <xs:element minOccurs="0" name="ownerType" type="tns:vehicleOwnerType"/>
       <xs:element minOccurs="0" name="province" type="xs:string"/>
       <xs:element minOccurs="0" name="surname" type="xs:string"/>
       <xs:element minOccurs="0" name="surname2" type="xs:string"/>
       <xs:element minOccurs="0" name="town" type="xs:string"/>
       <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sendElectronicMATE">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="tns:electronicMATERequest"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electronicMATERequest">
    <xs:sequence>
     <xs:element minOccurs="0" name="agencyFiscalId" type="xs:string"/>
     <xs:element minOccurs="0" name="customDossierNumber" type="xs:string"/>
     <xs:element minOccurs="0" name="externalSystemFiscalId" type="xs:string"/>
     <xs:element minOccurs="0" name="firstMatriculationDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="fiscalRepresentantBirthDate" type="xs:dateTime"/>
     <xs:element minOccurs="0" name="form05Key" type="xs:string"/>
     <xs:element minOccurs="0" name="form06ExcemptionType" type="xs:string"/>
     <xs:element minOccurs="0" name="form06ExcemptionValue" type="xs:string"/>
     <xs:element minOccurs="0" name="hasForm05" type="xs:boolean"/>
     <xs:element minOccurs="0" name="hasForm06" type="xs:boolean"/>
     <xs:element minOccurs="0" name="hasForm576" type="xs:boolean"/>
     <xs:element minOccurs="0" name="itvCardType" type="xs:string"/>
     <xs:element minOccurs="0" name="kmUsed" type="xs:int"/>
     <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
     <xs:element minOccurs="0" name="vehicleKind" type="xs:string"/>
     <xs:element minOccurs="0" name="xmlB64" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sendElectronicMATEResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="tns:electronicMATEResponse"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electronicMATEResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="coc" type="xs:string"/>
     <xs:element minOccurs="0" name="codeHG" type="xs:string"/>
     <xs:element minOccurs="0" name="dossierNumber" type="xs:string"/>
     <xs:element maxOccurs="unbounded" minOccurs="0" name="errorCodes" nillable="true" type="tns:mateError"/>
     <xs:element minOccurs="0" name="itvCard" type="xs:string"/>
     <xs:element minOccurs="0" name="license" type="xs:string"/>
     <xs:element minOccurs="0" name="plateNumber" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="provinceGroup">
    <xs:restriction base="xs:string">
     <xs:enumeration value="PENINSULA"/>
     <xs:enumeration value="CANARIES"/>
     <xs:enumeration value="CEUTAMELILLA"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="agentCertificateState">
    <xs:restriction base="xs:string">
     <xs:enumeration value="OK"/>
     <xs:enumeration value="PENDING"/>
     <xs:enumeration value="ERROR"/>
     <xs:enumeration value="EXPIRED"/>
     <xs:enumeration value="REVOKED"/>
     <xs:enumeration value="REQUESTING"/>
     <xs:enumeration value="NOTREQUESTING"/>
     <xs:enumeration value="MODIFIED"/>
     <xs:enumeration value="REQUESTERROR"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="agentCertificateRequestState">
    <xs:restriction base="xs:string">
     <xs:enumeration value="PENDING"/>
     <xs:enumeration value="OK"/>
     <xs:enumeration value="ERROR"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="authMethod">
    <xs:restriction base="xs:string">
     <xs:enumeration value="CLIENTCERT"/>
     <xs:enumeration value="PASSWORD"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="poCertificateState">
    <xs:restriction base="xs:string">
     <xs:enumeration value="NEW"/>
     <xs:enumeration value="OK"/>
     <xs:enumeration value="PENDING"/>
     <xs:enumeration value="ERROR"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="fiscalPersonType">
    <xs:restriction base="xs:string">
     <xs:enumeration value="PERSON"/>
     <xs:enumeration value="COMPANY"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="form05Key">
    <xs:restriction base="xs:string">
     <xs:enumeration value="NS1"/>
     <xs:enumeration value="NS2"/>
     <xs:enumeration value="ER1"/>
     <xs:enumeration value="ER2"/>
     <xs:enumeration value="ER3"/>
     <xs:enumeration value="ER4"/>
     <xs:enumeration value="ER5"/>
     <xs:enumeration value="ER6"/>
     <xs:enumeration value="ER7"/>
     <xs:enumeration value="RE1"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="form06ExcemptionType">
    <xs:restriction base="xs:string">
     <xs:enumeration value="EXCEMPTION"/>
     <xs:enumeration value="NOSUBJECT"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="form06ExcemptionValue">
    <xs:restriction base="xs:string">
     <xs:enumeration value="NS1"/>
     <xs:enumeration value="NS2"/>
     <xs:enumeration value="NS3"/>
     <xs:enumeration value="NS4"/>
     <xs:enumeration value="NS5"/>
     <xs:enumeration value="NS6"/>
     <xs:enumeration value="NS7"/>
     <xs:enumeration value="NS8"/>
     <xs:enumeration value="NS9"/>
     <xs:enumeration value="NS10"/>
     <xs:enumeration value="ET1"/>
     <xs:enumeration value="ET2"/>
     <xs:enumeration value="ET3"/>
     <xs:enumeration value="ET4"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="itvCardType">
    <xs:restriction base="xs:string">
     <xs:enumeration value="A"/>
     <xs:enumeration value="B"/>
     <xs:enumeration value="C"/>
     <xs:enumeration value="O"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="mateMatriculationState">
    <xs:restriction base="xs:string">
     <xs:enumeration value="DONE"/>
     <xs:enumeration value="ERROR"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="genderType">
    <xs:restriction base="xs:string">
     <xs:enumeration value="V"/>
     <xs:enumeration value="M"/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="vehicleOwnerType">
    <xs:restriction base="xs:string">
     <xs:enumeration value="PERSON"/>
     <xs:enumeration value="COMPANY"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name="MATEWS_sendCardMATE">
  <part element="tns:sendCardMATE" name="sendCardMATE"/>
 </message>
 <message name="MATEWS_sendElectronicMATE">
  <part element="tns:sendElectronicMATE" name="sendElectronicMATE"/>
 </message>
 <message name="MATEWS_sendElectronicMATEResponse">
  <part element="tns:sendElectronicMATEResponse" name="sendElectronicMATEResponse"/>
 </message>
 <message name="MATEWS_sendCardMATEResponse">
  <part element="tns:sendCardMATEResponse" name="sendCardMATEResponse"/>
 </message>
 <portType name="MATEWS">
  <operation name="sendCardMATE" parameterOrder="sendCardMATE">
   <input message="tns:MATEWS_sendCardMATE"/>
   <output message="tns:MATEWS_sendCardMATEResponse"/>
  </operation>
  <operation name="sendElectronicMATE" parameterOrder="sendElectronicMATE">
   <input message="tns:MATEWS_sendElectronicMATE"/>
   <output message="tns:MATEWS_sendElectronicMATEResponse"/>
  </operation>
 </portType>
 <binding name="MATEWSBinding" type="tns:MATEWS">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="sendCardMATE">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="sendElectronicMATE">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="MATEService">
  <port binding="tns:MATEWSBinding" name="MATEService">
   <soap:address location="https://192.168.72.115:8443/bbws/MATEService"/>
  </port>
 </service>
</definitions>