WSCN/src/wsdl/WSCNPruebasService_schema1.xsd

<!--
Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.pruebas.wscn.infra.gi.org/" version="1.0" targetNamespace="http://ws.pruebas.wscn.infra.gi.org/">
<xs:element name="WSCNPruebasExcepcionSistema" type="tns:WSCNPruebasExcepcionSistema"/>
<xs:element name="consultarListadoNotificaciones" type="tns:consultarListadoNotificaciones"/>
<xs:element name="consultarListadoNotificacionesResponse" type="tns:consultarListadoNotificacionesResponse"/>
<xs:element name="enviarAcuseNotificacion" type="tns:enviarAcuseNotificacion"/>
<xs:element name="enviarAcuseNotificacionResponse" type="tns:enviarAcuseNotificacionResponse"/>
<xs:element name="solicitarAcuseNotificacion" type="tns:solicitarAcuseNotificacion"/>
<xs:element name="solicitarAcuseNotificacionResponse" type="tns:solicitarAcuseNotificacionResponse"/>
<xs:element name="solicitarPoderdantes" type="tns:solicitarPoderdantes"/>
<xs:element name="solicitarPoderdantesResponse" type="tns:solicitarPoderdantesResponse"/>
<xs:element name="verNotificacionAceptada" type="tns:verNotificacionAceptada"/>
<xs:element name="verNotificacionAceptadaResponse" type="tns:verNotificacionAceptadaResponse"/>
<xs:complexType name="solicitarPoderdantes">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="solicitarPoderdantesResponse">
<xs:sequence>
<xs:element name="listadoPoderdantes" type="tns:listadoPoderdantes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listadoPoderdantes" final="extension restriction">
<xs:sequence>
<xs:element name="error" type="tns:error" minOccurs="0"/>
<xs:element name="poderdantes" type="tns:poderdante" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tienePoderdantes" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="error" final="extension restriction">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="identificadorPeticion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="poderdante" final="extension restriction">
<xs:sequence>
<xs:element name="denominacion" type="xs:string" minOccurs="0"/>
<xs:element name="identificador" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WSCNPruebasExcepcionSistema">
<xs:sequence>
<xs:element name="error" type="tns:error" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarAcuseNotificacion">
<xs:sequence>
<xs:element name="rol" type="xs:int"/>
<xs:element name="identificadorPoderdante" type="xs:string" minOccurs="0"/>
<xs:element name="codigoNotificacion" type="xs:int"/>
<xs:element name="esDeAceptacion" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarAcuseNotificacionResponse">
<xs:sequence>
<xs:element name="acuseNotificacion" type="tns:acuseNotificacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="acuseNotificacion" final="extension restriction">
<xs:sequence>
<xs:element name="codigoNotificacion" type="xs:int"/>
<xs:element name="error" type="tns:error" minOccurs="0"/>
<xs:element name="XML" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultarListadoNotificaciones">
<xs:sequence>
<xs:element name="rol" type="xs:int"/>
<xs:element name="identificadorPoderdante" type="xs:string" minOccurs="0"/>
<xs:element name="codigoSiguienteNotificacionPropia" type="xs:int"/>
<xs:element name="codigoSiguienteNotificacionAutorizadoRED" type="xs:int"/>
<xs:element name="codigoSiguienteNotificacionApoderado" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="consultarListadoNotificacionesResponse">
<xs:sequence>
<xs:element name="listadoNotificaciones" type="tns:listadoNotificaciones" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listadoNotificaciones" final="extension restriction">
<xs:sequence>
<xs:element name="codigoSiguienteNotificacionApoderado" type="xs:int"/>
<xs:element name="codigoSiguienteNotificacionAutorizadoRED" type="xs:int"/>
<xs:element name="codigoSiguienteNotificacionPropia" type="xs:int"/>
<xs:element name="error" type="tns:error" minOccurs="0"/>
<xs:element name="hayMas" type="xs:boolean"/>
<xs:element name="notificacionesApoderado" type="tns:notificacion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="notificacionesAutorizadoRED" type="tns:notificacion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="notificacionesPropias" type="tns:notificacion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="notificacion" final="extension restriction">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="descripcionEstado" type="xs:string" minOccurs="0"/>
<xs:element name="descripcionTipoDestinatario" type="xs:string" minOccurs="0"/>
<xs:element name="destinatario" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="fechaFinDisponibilidad" type="xs:string" minOccurs="0"/>
<xs:element name="fechaPuestaDisposicion" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAppRazonSocial" type="xs:string" minOccurs="0"/>
<xs:element name="procedimiento" type="xs:string" minOccurs="0"/>
<xs:element name="tipoDestinatario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarAcuseNotificacion">
<xs:sequence>
<xs:element name="rol" type="xs:int"/>
<xs:element name="identificadorPoderdante" type="xs:string" minOccurs="0"/>
<xs:element name="xmlAcuseFirmado" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enviarAcuseNotificacionResponse">
<xs:sequence>
<xs:element name="notificacionRecuperada" type="tns:notificacionRecuperada" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="notificacionRecuperada" final="extension restriction">
<xs:sequence>
<xs:element name="codigoNotificacion" type="xs:int"/>
<xs:element name="error" type="tns:error" minOccurs="0"/>
<xs:element name="pdfNotificacion" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="selladoTiempo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="verNotificacionAceptada">
<xs:sequence>
<xs:element name="rol" type="xs:int"/>
<xs:element name="identificadorPoderdante" type="xs:string" minOccurs="0"/>
<xs:element name="codigoNotificacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="verNotificacionAceptadaResponse">
<xs:sequence>
<xs:element name="notificacionRecuperada" type="tns:notificacionRecuperada" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>